.view-360-block
  padding: 50px
  opacity: 0
  visibility: hidden
  position: absolute
  left: -999999px

  &.show
    position: relative
    left: auto
    opacity: 1
    visibility: visible
    animation-name: fadeInOpacity
    animation-iteration-count: 1
    animation-timing-function: ease-in
    animation-duration: .3s

  &__progress
    position: relative
    width: 350px
    margin: 0 auto
    .irs-line, .irs-line-left, .irs-line-right, .irs-bar-edge, .irs-bar
      height: 3px
    .irs-line, .irs-bar, .irs-bar-edge
      top: 0
      display: none
    .irs-slider.single
      background: $base-color
      box-shadow: none
      width: 15px
      height: 15px
      border: none
    .irs-single, .irs-min, .irs-max
      display: none
    .irs-slider
      top: -6px
    .irs
      height: 10px

  &__progress-image
    position: absolute
    bottom: 35%
    left: 50%
    transform: translateX(-50%)

#container360view
  height: 500px !important
  width: 75% !important
  margin: 0 auto