.logo-gallery-item
  background: $color-1
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.08)
  transition: transform .2s cubic-bezier(.17,.67,.83,.67), box-shadow .2s cubic-bezier(.17,.67,.83,.67)
  padding: 25px 20px
  border-radius: 6px
  +media-height-768
    font-size: 14px
    padding: 15px 10px

  +media-1366
    font-size: 14px
    padding: 15px 10px



  &:hover
    transform: translate3d(0,-5px,0)
    box-shadow: 3px 8px 8px 0px rgba(0, 0, 0, 0.08)

  &__logo
    text-align: center

  &__descr
    text-align: center
    color: $color-4
    margin-top: 15px

  &__link-download
    margin-top: 15px
    text-align: center
    +media-height-768
      margin-top: 5px

    +media-1366
      margin-top: 5px

    a
      text-decoration: none