.contact-block

  &--main-menu
    color: $color-1
    padding-left: 15px
    padding-right: 15px
    +media-575
      //padding: 30px 20px
      background: $base-color
      margin-bottom: 0
    a
      color: $color-1

  &--main-menu.contact-block--desktop
    +media-575
      display: none
  &--main-menu.contact-block--mobile
    display: none
    +media-575
      display: block

  &__title
    font-size: 22px
    text-transform: uppercase
    margin-top: 20px
    +media-1366
      font-size: 19px
      margin-top: 15px
    +media-height-768
      font-size: 19px
      margin-top: 15px
    +media-992
      font-size: 16px

  &__value
    font-size: 16px
    margin-top: 15px
    +media-1366
      font-size: 14px
      margin-top: 5px
    +media-height-768
      font-size: 14px
      margin-top: 5px
    a
      text-decoration: none
      &:hover
        text-decoration: underline

  &__show-on-map
    display: inline-block
    position: relative
    text-transform: uppercase
    font-size: 22px
    margin-top: 20px
    text-decoration: none
    +media-1366
      font-size: 19px
      margin-top: 15px
    +media-height-768
      font-size: 16px
      margin-top: 15px
    +media-992
      font-size: 16px
    &:before
      content: ''
      display: block
      position: absolute
      bottom: 0
      width: 100%
      height: 1px
      background: $color-1
      transition: width .2s ease-in-out
    & + i
      margin-left: 10px
      font-size: 20px
    &:hover
      &:before
        width: 0