.main-menu
  transform: translateX(-100%)
  position: fixed
  top: 0
  right: 0
  bottom: 0
  left: 0
  transition: transform .2s ease-in-out
  background: $color-1
  z-index: 90
  +media-575
    overflow-y: auto

  &.opened
    transform: translateX(0)

  &__inner
    position: relative
    display: flex
    flex-direction: column
    justify-content: center
    z-index: 1
    overflow-y: auto
    overflow-x: hidden
    margin-bottom: 30px
    +media-575
      margin-bottom: 0

  &__filled-side
    position: absolute
    width: 42%
    background: $base-color
    height: 100%
    top: 0
    right: 0
    +media-992
      width: 45%
    +media-768
      width: 50%
    +media-575
      display: none

  &__section
    margin-bottom: 50px
    +media-height-768
      margin-bottom: 10px
    +media-768
      margin-bottom: 10px

    &--colored
      .main-menu__section-title
        color: $color-1

  &__section-title
    color: #e2e2e2
    font-size: 42px
    font-weight: $font-weight-black
    text-transform: uppercase
    +media-1366
      font-size: 30px
    +media-992
      font-size: 25px

  &__list-items
    list-style: none
    +media-575
      display: none
    li
      font-family: 'ProximaNovaT', sans-serif
      font-weight: $font-weight-thin
      font-size: 22px
      padding: 5px 0
      +media-height-768
        font-size: 19px
      a
        display: inline-block
        position: relative
        color: $color-5
        text-decoration: none
        &:after
          content: ''
          display: block
          position: absolute
          width: 0
          height: 1px
          background: $color-5
          transition: width .2s ease
        &:hover
          text-decoration: none
          &:after
            width: 100%