.doc-item
  background: #ffffff
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.08)
  transition: transform .2s cubic-bezier(.17,.67,.83,.67), box-shadow .2s cubic-bezier(.17,.67,.83,.67)
  padding: 17px 20px
  border-radius: 6px
  margin-bottom: 20px

  &:hover
    transform: translate3d(0,-5px,0)
    box-shadow: 3px 8px 8px 0px rgba(0, 0, 0, 0.08)

  &__head
    font-size: 14px
    font-weight: $font-weight-bold
    color: $color-5
    margin-bottom: 15px

  &__descr
    color: $color-3
    font-size: 14px
    font-weight: $font-weight-light

    & .vertical-divider
        display: inline-block
        font-size: 22px
        font-weight: $font-weight-light
        vertical-align: middle
        margin-left: 10px
        margin-right: 10px

  &__footer
    display: flex
    flex-flow: row

  &__footer-left
    display: flex
    flex: 1
    justify-content: flex-start

  &__footer-right
    display: flex
    flex: 1
    justify-content: flex-end

  &__btn
    display: inline-block
    color: $base-color
    font-weight: $font-weight-bold
    font-size: $font-size-button
    text-decoration: none

    &--gray
      color: $color-4

  &__date
    color: $color-3
    font-size: 14px
    font-weight: $font-weight-light

  &--with-image
    display: flex
    flex-flow: row nowrap
    align-items: center

  &__image
    width: 100px
    height: 100px
    border: 1px solid #f5f5f5
    background: $color-2
    overflow: hidden
    +media-992
      display: none

    img
      object-fit: fill

  &--with-image &__info
    flex: 1
    margin-left: 20px
    +media-992
      margin-left: 0

  &--with-image &__head
    margin-bottom: 0