{% extends "layouts/layout.njk" %}

{% block content %}

    <div class="container">
        <div class="time-line">
            <div class="time-line-menu">
                {%  set items = [
                    { 'itemName': 'Цель', 'id': 'target-page', 'itemClass': '', 'link': 'target.html' },
                    { 'itemName': 'Статус', 'id': 'status-page', 'itemClass': ' active last', 'link': 'status.html' }
                ] %}

                {% for item in items %}
                    <a href="{{ item.link }}" class="time-line-menu__item js-timeline-item {{ item.itemClass }}" data-id="{{ item.id }}">
                        <div class="time-line-menu__item-circle"></div>
                        <div class="time-line-menu__item-name">{{ item.itemName }}</div>
                    </a>

                    <div class="time-line-menu__line"></div>
                {% endfor %}
            </div>
        </div>

        <div class="content-block">
            <div class="content-block__inner">
                <div class="row justify-content-center">
                    <div class="col-md-11">
                        <div class="col-md-12">
                            <div class="row mb-2">
                                <div class="col-md-12 text-md-left text-center">
                                    <h3>Статус программы «Фрегат Экоджет»</h3>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 text-md-left text-center">
                                    <p class="tech-description">
                                        Описание того, что из себя представляет статус программы, Описание того, что из
                                        себя представляет статус программы, Описание того, что из себя представляет
                                        статус
                                        программы, Описание того, что из себя представляет статус программы, Описание
                                        того, что из себя представляет статус программы, Описание того, что из себя
                                        представляет статус программы,
                                    </p>
                                </div>
                            </div>
                            <div class="row mt-5">
                                <div class="col-md-12">
                                    <div class="status-scheme">
                                        <div class="status-scheme__tooltip content-block px-4 py-3">
                                            <h5>Состояние этапа</h5>
                                            <div class="status-scheme__tooltip-legend">
                                                <div class="status-scheme__tooltip-legend-item">
                                                    <div class="status-legend-item status-legend-item--completed">
                                                        <span></span></div>
                                                    <span class="name-item">Завершенный этап</span>
                                                </div>
                                                <div class="status-scheme__tooltip-legend-item">
                                                    <div class="status-legend-item status-legend-item--current">
                                                        <span></span></div>
                                                    <span class="name-item">Текущий этап</span>
                                                </div>
                                                <div class="status-scheme__tooltip-legend-item">
                                                    <div class="status-legend-item"><span>КР</span></div>
                                                    <span class="name-item">Предстоящий этап</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="status-scheme__status">
                                            <div class="status-scheme__status-item">
                                                <div class="status-scheme__status-item-name">
                                                    Предварительное исследование
                                                </div>
                                                <div class="status-scheme__status-item-line"><span></span></div>
                                            </div>
                                            <div class="status-scheme__status-item">
                                                <div class="status-scheme__status-item-name">
                                                    Концепт
                                                </div>
                                                <div class="status-scheme__status-item-line"><span></span></div>
                                            </div>
                                            <div class="status-scheme__status-item">
                                                <div class="status-scheme__status-item-name">
                                                    Определение
                                                </div>
                                                <div class="status-scheme__status-item-line"><span></span></div>
                                            </div>
                                            <div class="status-scheme__status-item">
                                                <div class="status-scheme__status-item-name">
                                                    Производство
                                                </div>
                                                <div class="status-scheme__status-item-line"><span></span></div>
                                            </div>
                                            <div class="status-scheme__status-item">
                                                <div class="status-scheme__status-item-name">
                                                    Производство
                                                </div>
                                                <div class="status-scheme__status-item-line"><span></span></div>
                                            </div>
                                        </div>
                                        <div class="status-scheme__circles">
                                            <div class="status-scheme__divider"></div>

                                            <div class="status-scheme__item status-scheme__item--completed"
                                                 data-target="1">
                                                <div class="status-scheme__item-inner"></div>
                                                <span>КР1</span></div>

                                            <div class="status-scheme__item status-scheme__item--completed"
                                                 data-target="2">
                                                <div class="status-scheme__item-inner"></div>
                                                <span>КР2</span></div>

                                            <div class="status-scheme__item status-scheme__item--completed"
                                                 data-target="3">
                                                <div class="status-scheme__item-inner"></div>
                                                <span>КР3</span></div>

                                            <div class="status-scheme__item status-scheme__item--completed"
                                                 data-target="4">
                                                <div class="status-scheme__item-inner"></div>
                                                <span>КР4</span></div>

                                            <div class="status-scheme__item status-scheme__item--completed"
                                                 data-target="5">
                                                <div class="status-scheme__item-inner"></div>
                                                <span>КР5</span></div>

                                            <div class="status-scheme__item status-scheme__item--completed"
                                                 data-target="6">
                                                <div class="status-scheme__item-inner"></div>
                                                <span>КР6</span></div>

                                            <div class="status-scheme__item status-scheme__item--current"
                                                 data-target="7">
                                                <div class="status-scheme__item-inner"></div>
                                                <span>КР7</span></div>

                                            <div class="status-scheme__item">
                                                <div class="status-scheme__item-inner" data-target="8"></div>
                                                <span>КР8</span></div>

                                            <div class="status-scheme__item">
                                                <div class="status-scheme__item-inner" data-target="9"></div>
                                                <span>КР9</span></div>

                                            <div class="status-scheme__item">
                                                <div class="status-scheme__item-inner" data-target="10"></div>
                                                <span>КР10</span></div>

                                            <div class="status-scheme__item">
                                                <div class="status-scheme__item-inner" data-target="11"></div>
                                                <span>КР11</span></div>

                                            <div class="status-scheme__item">
                                                <div class="status-scheme__item-inner" data-target="12"></div>
                                                <span>КР12</span></div>

                                            <div class="status-scheme__item">
                                                <div class="status-scheme__item-inner" data-target="13"></div>
                                                <span>КР13</span></div>

                                            <div class="status-scheme__item">
                                                <div class="status-scheme__item-inner" data-target="14"></div>
                                                <span>КР14</span></div>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-start mt-3">
                                        <div class="status-scheme-dropdown content-block" id="status-scheme-dropdown-1">
                                            <div class="px-5 py-4">
                                                <h5>Целевые индикаторы достижения</h5>
                                                <ul class="target-list">
                                                    <li class="target-list__item"><span>Ресурсы для завершения фазы «Предварительных исследований» выделен</span>
                                                    </li>
                                                    <li class="target-list__item"><span>Сертификационные требования к продукту сформированы</span>
                                                    </li>
                                                    <li class="target-list__item target-list__item--not-active"><span>Концепция управления программой разработана</span>
                                                    </li>
                                                    <li class="target-list__item"><span>Бюджет на фазу «Концепт» определен и согласован</span>
                                                    </li>
                                                    <li class="target-list__item"><span>Ресурсы для начала работ фазы «Концепт» выделены</span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="status-scheme-dropdown content-block" id="status-scheme-dropdown-2">
                                            <div class="px-5 py-4">
                                                <h5>Целевые индикаторы достижения</h5>
                                                <ul class="target-list">
                                                    <li class="target-list__item"><span>Ресурсы для завершения фазы «Предварительных исследований» выделен</span>
                                                    </li>
                                                    <li class="target-list__item"><span>Сертификационные требования к продукту сформированы</span>
                                                    </li>
                                                    <li class="target-list__item target-list__item--not-active"><span>Концепция управления программой разработана</span>
                                                    </li>
                                                    <li class="target-list__item"><span>Бюджет на фазу «Концепт» определен и согласован</span>
                                                    </li>
                                                    <li class="target-list__item"><span>Ресурсы для начала работ фазы «Концепт» выделены</span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="status-scheme-dropdown content-block" id="status-scheme-dropdown-3">
                                            <div class="px-5 py-4">
                                                <h5>Целевые индикаторы достижения</h5>
                                                <ul class="target-list">
                                                    <li class="target-list__item"><span>Ресурсы для завершения фазы «Предварительных исследований» выделен</span>
                                                    </li>
                                                    <li class="target-list__item"><span>Сертификационные требования к продукту сформированы</span>
                                                    </li>
                                                    <li class="target-list__item target-list__item--not-active"><span>Концепция управления программой разработана</span>
                                                    </li>
                                                    <li class="target-list__item"><span>Бюджет на фазу «Концепт» определен и согласован</span>
                                                    </li>
                                                    <li class="target-list__item"><span>Ресурсы для начала работ фазы «Концепт» выделены</span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="status-scheme-dropdown content-block" id="status-scheme-dropdown-4">
                                            <div class="px-5 py-4">
                                                <h5>Целевые индикаторы достижения</h5>
                                                <ul class="target-list">
                                                    <li class="target-list__item"><span>Ресурсы для завершения фазы «Предварительных исследований» выделен</span>
                                                    </li>
                                                    <li class="target-list__item"><span>Сертификационные требования к продукту сформированы</span>
                                                    </li>
                                                    <li class="target-list__item target-list__item--not-active"><span>Концепция управления программой разработана</span>
                                                    </li>
                                                    <li class="target-list__item"><span>Бюджет на фазу «Концепт» определен и согласован</span>
                                                    </li>
                                                    <li class="target-list__item"><span>Ресурсы для начала работ фазы «Концепт» выделены</span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="status-scheme-dropdown content-block" id="status-scheme-dropdown-5">
                                            <div class="px-5 py-4">
                                                <h5>Целевые индикаторы достижения</h5>
                                                <ul class="target-list">
                                                    <li class="target-list__item"><span>Ресурсы для завершения фазы «Предварительных исследований» выделен</span>
                                                    </li>
                                                    <li class="target-list__item"><span>Сертификационные требования к продукту сформированы</span>
                                                    </li>
                                                    <li class="target-list__item target-list__item--not-active"><span>Концепция управления программой разработана</span>
                                                    </li>
                                                    <li class="target-list__item"><span>Бюджет на фазу «Концепт» определен и согласован</span>
                                                    </li>
                                                    <li class="target-list__item"><span>Ресурсы для начала работ фазы «Концепт» выделены</span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="status-scheme-dropdown content-block" id="status-scheme-dropdown-6">
                                            <div class="px-5 py-4">
                                                <h5>Целевые индикаторы достижения</h5>
                                                <ul class="target-list">
                                                    <li class="target-list__item"><span>Ресурсы для завершения фазы «Предварительных исследований» выделен</span>
                                                    </li>
                                                    <li class="target-list__item"><span>Сертификационные требования к продукту сформированы</span>
                                                    </li>
                                                    <li class="target-list__item target-list__item--not-active"><span>Концепция управления программой разработана</span>
                                                    </li>
                                                    <li class="target-list__item"><span>Бюджет на фазу «Концепт» определен и согласован</span>
                                                    </li>
                                                    <li class="target-list__item"><span>Ресурсы для начала работ фазы «Концепт» выделены</span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-11 mt-5">
                        <div class="col-md-12">
                            <h4 class="mb-4">КР3. Технические требования к продукту определены</h4>

                            <h5>Основные действия для достижения</h5>
                            <p>
                                Определить и закрепить набор базовых требований к продукту, которые лягут в основу
                                технического проекта. Разработать общую концепцию управления программой вплоть до
                                окончания фазы Концепт. Данный рубеж подтверждает окончание фазы «Предварительных
                                исследований»
                                и готовность к переходу в фазу «Концепт».
                            </p>

                            <h5 class="mt-4">Заголовок, который описывает эти пункты</h5>
                            <ul class="dot-list">
                                <li><span>Разработано техническое задание на выполнение эскизного проекта самолета «Фрегат
                                                        Экоджет». Инициировано начало фазы разработки эскизного проекта «Фрегат Экоджет». Создан
                                                        цифровой макет самолета</span>
                                </li>
                                <li><span>Завершены работы по конструкторской проработке: фюзеляжа (отсек Ф3; отсек Ф4, включая конструкцию проема задней грузовой двери; отсек Ф5,
                                                        включая конструкцию гермошпаноута; отсека Ф6, включая конструкцию отсека ВСУ),
                                                        крыла (кессон ЦЧК, включая конструкцию зоны стыка крыла с фюзеляжем; кессон ОЧК; закессоная часть ОЧК, включая конструкцию навески основных опор шасси),
                                                        оперение (кессон вертикального оперения; кессон горизонтального оперения) самолёта «Фрегат Экоджет».</span>
                                </li>
                            </ul>

                            <h5 class="mt-4 mb-3">Документы, сформированные на данном этапе</h5>
                            <div class="row">
                                {% for  i in range(0, 9) -%}
                                    <div class="col-lg-4 col-md-6">
                                        <div class="doc-item">
                                            <div class="doc-item__info">
                                                <div class="doc-item__head">
                                                    Презентация 4-двигательной модификации самолета -
                                                    FreeJet
                                                </div>
                                                <div class="doc-item__body">
                                                    <div class="doc-item__descr">
                                                        3.6 мб, PDF <span class="vertical-divider">|</span> 36 страниц
                                                    </div>
                                                </div>
                                                <div class="doc-item__footer">
                                                    <div class="doc-item__footer-left">
                                                        <a href="#" class="doc-item__btn">Скачать</a>
                                                        <a href="#" class="doc-item__btn doc-item__btn--gray ml-4">Открыть</a>
                                                    </div>
                                                    <div class="doc-item__footer-right">
                                                        <div class="doc-item__date">
                                                            28.08.2017
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {%- endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}