{% extends "layouts/layout.njk" %}

{% block content %}
    <div class="container">
        <div class="time-line">
            <div class="time-line-menu">
                {%  set items = [
                    { 'itemName': 'Цель', 'id': 'target-page', 'itemClass': 'active', 'link': 'target.html' },
                    { 'itemName': 'Статус', 'id': 'status-page', 'itemClass': ' last', 'link': 'status.html' }
                ] %}

                {% for item in items %}
                    <a href="{{ item.link }}" class="time-line-menu__item js-timeline-item {{ item.itemClass }}" data-id="{{ item.id }}">
                        <div class="time-line-menu__item-circle"></div>
                        <div class="time-line-menu__item-name">{{ item.itemName }}</div>
                    </a>

                    <div class="time-line-menu__line"></div>
                {% endfor %}
            </div>
        </div>
        <div class="content-block">
            <div class="content-block__inner">
                <div class="row justify-content-center">
                    <div class="col-md-8">
                        <div class="col-md-12">
                            <h2 class="text-md-left text-center">Программа «Фрегат Экоджет»</h2>

                            <div class="teaser-block mt-5">
                                <div class="teaser-block__text">
                                    Лучший способ предсказать будушее - изобрести его
                                </div>
                                <div class="teaser-block__author">
                                    <div class="teaser-block__author-image">
                                        <img src="assets/images/teaser-image-author/teaser-image-author-1.jpg" alt="">
                                    </div>
                                    <div class="teaser-block__author-name">
                                        Алан Кей
                                    </div>
                                </div>
                            </div>

                            <div class="row mt-4">
                                <div class="col-md-12">
                                    <p>
                                        Программа создания широкофюзеляжного самолета ограниченной дальности на базе принципиально новой конструктивно
                                        силовой и аэродинамической схемы,  для обеспечения характеристик самолета следующего поколения.
                                    </p>
                                    <p>
                                        Целью программы является создание конкурентоспособных на мировом рынке гражданских широкофюзеляжных среднемагистральных
                                        самолетов «Фрегат Экоджет» на базе применения принципиально новой аэродинамической и силовой схемы. Интегральные показатели
                                        эффективности этих самолетов на   15-20 процентов будут превосходить показатели, достигнутые гражданской авиационной техникой в 2010 году.
                                    </p>
                                    <p>
                                        Самолет «Фрегат Экоджет» является «нишевым» продуктом с точки зрения современного рынка пассажирских авиаперевозок. Продукт
                                        сфокусирован на сегмент перевозок на расстояния дальностью 3000–4000 км, на которых может быть эффективно использование широкофюзеляжных самолетов.
                                        Сегодня в среднем более 56% всех рейсов в мире, выполняемых на широкофюзеляжных дальнемагистральных самолетах, приходится на расстояние менее 3000 км.
                                        В некоторых регионах
                                        эта доля существенно выше.
                                    </p>
                                </div>
                            </div>

                            <div class="row mt-3">
                                <div class="col-lg-6">
                                    <div class="char-table">
                                        <div class="char-table__title">
                                            Крыло
                                        </div>
                                        <div class="char-table__body">

                                            {% set items = [
                                                {'name': 'Размах, <span class="tech-caption">м</span>', 'value': '45.4'},
                                                {'name': 'Площадь трапеции, <span class="tech-caption">м<sup>2</sup></span>', 'value': '205'},
                                                {'name': 'Площадь полная, <span class="tech-caption">м<sup>2</sup></span>', 'value': '244.12'},
                                                {'name': 'Удлинение трапеции', 'value': '10.05'},
                                                {'name': 'Удлинение полное', 'value': '8.44'},
                                                {'name': 'Сужение трапеции', 'value': '3.5'},
                                                {'name': 'САХ, по полной площади (ba), <span class="tech-caption">м</span>', 'value': '6.495'},
                                                {'name': 'Стреловидность крыла по 1/4 хорд, <span class="tech-caption">гр</span>', 'value': '26'}
                                            ] %}

                                            {% for item in items %}

                                                <div class="char-table__row">
                                                    <div class="char-table__cell">{{ item.name | safe }}</div>
                                                    <div class="char-table__cell">{{ item.value | safe }}</div>
                                                </div>

                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 pt-4 pt-lg-0">
                                    <div class="char-table">
                                        <div class="char-table__title">
                                            Фюзеляж
                                        </div>
                                        <div class="char-table__body">

                                            {% set items = [
                                                {'name': 'Габариты, <span class="tech-caption">м</span>', 'value': '', 'rowSubClass': ''},
                                                {'name': 'Длина', 'value': '48.355', 'rowSubClass': 'char-table__row--sub'},
                                                {'name': 'Ширина', 'value': '7.750', 'rowSubClass': 'char-table__row--sub'},
                                                {'name': 'Высота', 'value': '4.935', 'rowSubClass': 'char-table__row--sub'},
                                                {'name': 'Площадь миделя, <span class="tech-caption">м<sup>2</sup></span>', 'value': '30.549'},
                                                {'name': 'Относительная площадь миделя', 'value': '0.125'},
                                                {'name': 'Эквивалентный диаметр, <span class="tech-caption">м</span>', 'value': '6.237'},
                                                {'name': 'Площадь омываемой поврехности, <span class="tech-caption">м<sup>2</sup></span>', 'value': '880'}
                                            ] %}

                                            {% for item in items %}

                                                <div class="char-table__row {{ item.rowSubClass }}">
                                                    <div class="char-table__cell">{{ item.name | safe }}</div>
                                                    <div class="char-table__cell">{{ item.value | safe }}</div>
                                                </div>

                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row mt-5">
                                <div class="col-md-12">
                                    <h3 class="mb-2">Анализ рынка</h3>
                                    <figure>
                                        <img src="assets/images/target-page/target-page-1.png" class="img-fluid" alt="">
                                        <figcaption class="tech-caption">Рис.1 — Вариация самолётов</figcaption>
                                    </figure>
                                </div>
                            </div>

                            <div class="row mt-3">
                                <div class="col-md-12">
                                    <h3 class="mb-2">Емкость рынка</h3>
                                    <figure>
                                        <img src="assets/images/target-page/target-page-2.png" class="img-fluid" alt="">
                                        <figcaption class="tech-caption">Рис.2 — Диаграмма</figcaption>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}