{% extends "layouts/layout.njk" %}

{% block content %}
    <div class="container">

        <div class="time-line">
            <div class="time-line-menu">
                {%  set items = [
                    { 'itemName': 'Фрегат Экоджет', 'id': '', 'itemClass': '', 'link': 'frigate-ecojet.html' },
                    { 'itemName': 'FreeJet', 'id': '', 'itemClass': '', 'link': 'freejet.html' },
                    { 'itemName': 'Компоновка', 'id': '', 'itemClass': '', 'link': 'composition.html' },
                    { 'itemName': 'Преимущества', 'id': '', 'itemClass': 'active last', 'link': 'advantages.html' }
                ] %}

                {% for item in items %}
                    <a href="{{ item.link }}" class="time-line-menu__item js-timeline-item {{ item.itemClass }}" data-id="{{ item.id }}">
                        <div class="time-line-menu__item-circle"></div>
                        <div class="time-line-menu__item-name">{{ item.itemName }}</div>
                    </a>

                    <div class="time-line-menu__line"></div>
                {% endfor %}
            </div>
        </div>

        <div class="content-block">
            <div class="content-block__inner">
                <div class="row justify-content-center">
                    <div class="col-md-10">
                        <div class="advantages-carousel">
                            <div class="advantages-carousel__item">
                                <img src="assets/images/advantages-1.jpg" class="img-fluid" alt="">
                                <div class="hover-bullet" style="top: 19%; left: 26%;">
                                    <div class="hover-bullet__description" style="left: 90px; bottom: calc(100% + 15px)">
                                        <div class="hover-bullet__description-content">
                                            <div class="hover-bullet__description-title">
                                                Совершенная аэродинамическая компоновка
                                            </div>
                                            Сокращение эмиссии CO2 на 20% в пересчете
                                            на пассажира
                                        </div>
                                    </div>
                                </div>
                                <div class="hover-bullet" style="top: 32%; left: 48%;">
                                    <div class="hover-bullet__description" style="left: 40px; bottom: calc(100% + 60px)">
                                        <div class="hover-bullet__description-content">
                                            <div class="hover-bullet__description-title">
                                                Совершенная аэродинамическая компоновка
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="hover-bullet" style="top: 42%; left: 42%">
                                    <div class="hover-bullet__description" style="left: 40px; bottom: calc(100% + 90px)">
                                        <div class="hover-bullet__description-content">
                                            <div class="hover-bullet__description-title">
                                                Совершенная аэродинамическая компоновка
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="hover-bullet" style="top: 55%; left: 47%">
                                    <div class="hover-bullet__description" style="left: 40px; top: calc(100% + 90px)">
                                        <div class="hover-bullet__description-content">
                                            <div class="hover-bullet__description-title">
                                                Совершенная аэродинамическая компоновка
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="hover-bullet hover-bullet--left" style="top: 66%; left: 67.6%">
                                    <div class="hover-bullet__description" style="right: 30px; top: calc(100% + 50px)">
                                        <div class="hover-bullet__description-content">
                                            <div class="hover-bullet__description-title">
                                                Совершенная аэродинамическая компоновка
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="advantages-carousel__item">
                                <img src="assets/images/advantages-2.jpg" class="img-fluid" alt="">
                                <div class="hover-bullet" style="left: 22.8%; top: 73%;"></div>
                                <div class="hover-bullet" style="top: 44%; left: 37.6%;"></div>
                                <div class="hover-bullet" style="top: 78%; left: 32.3%"></div>
                                <div class="hover-bullet" style="top: 61%; left: 56.5%;"></div>
                                <div class="hover-bullet" style="top: 61%; left: 74%;"></div>
                                <div class="hover-bullet" style="top: 26%; left: 80.7%;"></div>
                            </div>
                        </div>
                        <div class="advantages-carousel__nav">
                            <button class="advantages-carousel__nav-arrow advantages-carousel__nav-arrow--prev">
                                <img src="assets/images/prev-arrow.svg" class="svg" alt="">
                            </button>
                            <button class="advantages-carousel__nav-arrow advantages-carousel__nav-arrow--next">
                                <img src="assets/images/next-arrow.svg" class="svg" alt="">
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}