{% extends "layouts/layout.njk" %}

{% block content %}
    <div class="container">

        <div class="time-line">
            <div class="time-line-menu">
                {%  set items = [
                    { 'itemName': 'Фрегат Экоджет', 'id': '', 'itemClass': '', 'link': 'frigate-ecojet.html' },
                    { 'itemName': 'FreeJet', 'id': '', 'itemClass': '', 'link': 'freejet.html' },
                    { 'itemName': 'Компоновка', 'id': '', 'itemClass': 'active', 'link': 'composition.html' },
                    { 'itemName': 'Преимущества', 'id': '', 'itemClass': 'last', 'link': 'advantages.html' }
                ] %}

                {% for item in items %}
                    <a href="{{ item.link }}" class="time-line-menu__item js-timeline-item {{ item.itemClass }}" data-id="{{ item.id }}">
                        <div class="time-line-menu__item-circle"></div>
                        <div class="time-line-menu__item-name">{{ item.itemName }}</div>
                    </a>

                    <div class="time-line-menu__line"></div>
                {% endfor %}
            </div>
        </div>

        <div class="content-block">
            <div class="content-block__inner">
                <div class="row justify-content-center">
                    <div class="col-md-10">
                        <div class="plane-container">
                            <img src="assets/images/plane.png" alt="" class="img-fluid">

                            <div class="hover-bullet" style="top: 29%; left: 17%;"></div>
                            <div class="hover-bullet" style="top: 33%; left: 20%;"></div>
                            <div class="hover-bullet" style="top: 25%; left: 25%;"></div>
                            <div class="hover-bullet" style="top: 14%; left: 24%;"></div>
                            <div class="hover-bullet" style="top: 22%; left: 29%;"></div>
                            <div class="hover-bullet" style="top: 33%; left: 31%;"></div>
                            <div class="hover-bullet" style="top: 35%; left: 33%;"></div>
                            <div class="hover-bullet" style="top: 39%; left: 31%;"></div>
                            <div class="hover-bullet" style="top: 43%; left: 37%;"></div>
                            <div class="hover-bullet" style="top: 40%; left: 39%"></div>
                            <div class="hover-bullet" style="top: 39%; left: 43%"></div>
                            <div class="hover-bullet" style="top: 36%; left: 50%"></div>
                            <div class="hover-bullet" style="top: 46%; left: 44%"></div>
                            <div class="hover-bullet" style="top: 51%; left: 43%"></div>
                            <div class="hover-bullet" style="top: 47%; left: 46%"></div>
                            <div class="hover-bullet" style="top: 44%; left: 51%;"></div>
                            <div class="hover-bullet" style="top: 56%; left: 52%;"></div>
                            <div class="hover-bullet" style="top: 54%; left: 55%;"></div>
                            <div class="hover-bullet" style="top: 60%; left: 58%;"></div>
                            <div class="hover-bullet" style="top: 63%; left: 62%;"></div>
                            <div class="hover-bullet" style="top: 72%; left: 65%;"></div>
                            <div class="hover-bullet" style="top: 68%; left: 70%;"></div>
                            <div class="hover-bullet" style="top: 70%; left: 75%;"></div>
                            <div class="hover-bullet" style="top: 74%; left: 75%"></div>
                            <div class="hover-bullet" style="top: 83%; left: 79%"></div>
                            <div class="hover-bullet" style="top: 87%; left: 77%;"></div>
                            <div class="hover-bullet" style="top: 71%; left: 83%;"></div>
                            <div class="hover-bullet" style="top: 73%; left: 84%;"></div>
                            <div class="hover-bullet" style="top: 76%; left: 85%;"></div>
                            <div class="hover-bullet" style="top: 85%; left: 85%;"></div>
                            <div class="hover-bullet" style="top: 85%; left: 88%;"></div>
                            <div class="hover-bullet" style="top: 81%; left: 89%;"></div>
                            <div class="hover-bullet" style="top: 86%; left: 91%;"></div>
                            <div class="hover-bullet" style="top: 93%; left: 94%;"></div>
                            <div class="hover-bullet" style="top: 77%; left: 10%;"></div>
                            <div class="hover-bullet" style="top: 74%; left: 20%;"></div>
                            <div class="hover-bullet" style="top: 70%; left: 31%;"></div>
                            <div class="hover-bullet" style="top: 62%; left: 62%;"></div>
                            <div class="hover-bullet" style="top: 63%; left: 47%;"></div>
                            <div class="hover-bullet" style="top: 68%; left: 48%;"></div>
                            <div class="hover-bullet" style="top: 70%; left: 55%;"></div>
                            <div class="hover-bullet" style="top: 75%; left: 33%;"></div>
                            <div class="hover-bullet" style="top: 82%; left: 39%;"></div>
                            <div class="hover-bullet" style="top: 80%; left: 52%;"></div>
                            <div class="hover-bullet" style="top: 14%; left: 72%;"></div>
                            <div class="hover-bullet" style="top: 40%; left: 62%;"></div>
                            <div class="hover-bullet" style="top: 41%; left: 73%;"></div>
                            <div class="hover-bullet" style="top: 54%; left: 72%;"></div>
                            <div class="hover-bullet" style="top: 95%; left: 85%;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}