{% extends "layouts/layout.njk" %}

{% block content %}
    <div class="container">

        <div class="time-line">
            <div class="time-line-menu">
                {%  set items = [
                    { 'itemName': 'Фрегат Экоджет', 'id': '', 'itemClass': 'active', 'link': 'frigate-ecojet.html' },
                    { 'itemName': 'FreeJet', 'id': '', 'itemClass': '', 'link': 'freejet.html' },
                    { 'itemName': 'Компоновка', 'id': '', 'itemClass': '', 'link': 'composition.html' },
                    { 'itemName': 'Преимущества', 'id': '', 'itemClass': 'last', 'link': 'advantages.html' }
                ] %}

                {% for item in items %}
                    <a href="{{ item.link }}" class="time-line-menu__item js-timeline-item {{ item.itemClass }}" data-id="{{ item.id }}">
                        <div class="time-line-menu__item-circle"></div>
                        <div class="time-line-menu__item-name">{{ item.itemName }}</div>
                    </a>

                    <div class="time-line-menu__line"></div>
                {% endfor %}
            </div>
        </div>

        <div class="content-block">
            <div class="plane-scheme">
                <div class="plane-scheme__head">
                    <div class="row justify-content-center">
                        <div class="col-md-11">
                            <div class="d-flex flex-row justify-content-end">
                                <div class="switcher">
                                    <label class="switcher__switch">
                                        <span class="switcher__value switcher__value--active" data-target="main-view">Общий вид</span>
                                        <input type="checkbox" class="js-switch-view">
                                        <span class="switcher__slider"></span>
                                        <span class="switcher__value" data-target="engineering-view">Инженерный вид</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="plane-scheme__body js-switch-container">
                    <div class="row align-items-center js-switch-container__content" id="main-view">
                        <div class="col-md-6"><img src="assets/images/frigate-ecojet/main-view/main-view-1.png" class="img-fluid" alt=""></div>
                        <div class="col-md-6"><img src="assets/images/frigate-ecojet/main-view/main-view-2.png" class="img-fluid" alt=""></div>
                        <div class="col-md-6"><img src="assets/images/frigate-ecojet/main-view/main-view-3.png" class="img-fluid" alt=""></div>
                        <div class="col-md-6">
                            <div class="row justify-content-end">
                                <div class="col-md-9">
                                    <div class="char-table">
                                        <div class="char-table__title">
                                            Лётные и массовые характеристики
                                        </div>
                                        <div class="char-table__body">

                                            {% set items = [
                                                {'name': 'Максимальная взлетная масса, <span class="tech-caption">кг</span>', 'value': '140 400', 'rowSubClass': ''},
                                                {'name': 'Дальность полета, <span class="tech-caption">км</span>', 'value': '3 500', 'rowSubClass': ''},
                                                {'name': 'Пассажировместимость, <span class="tech-caption">пасс</span>', 'value': '', 'rowSubClass': ''},
                                                {'name': '2-х классная', 'value': '280 (28 + 252)', 'rowSubClass': 'char-table__row--sub'},
                                                {'name': 'премиум эконом класс', 'value': '302', 'rowSubClass': 'char-table__row--sub'},
                                                {'name': 'Эконом класс', 'value': '352 (399)', 'rowSubClass': 'char-table__row--sub'}
                                            ] %}

                                            {% for item in items %}

                                                <div class="char-table__row {{ item.rowSubClass }}">
                                                    <div class="char-table__cell">{{ item.name | safe }}</div>
                                                    <div class="char-table__cell">{{ item.value | safe }}</div>
                                                </div>

                                            {% endfor %}
                                        </div>
                                    </div>
                                    <a href="#main-view-frigate-popup" class="button-base button-base--bordered mt-4 popup-modal-btn">Все характеристики</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row align-items-center js-switch-container__content" id="engineering-view">
                        <div class="col-md-6"><img src="assets/images/frigate-ecojet/engineering-view/engineering-view-1.png" alt="" class="img-fluid"></div>
                        <div class="col-md-6"><img src="assets/images/frigate-ecojet/engineering-view/engineering-view-2.png" alt="" class="img-fluid"></div>
                        <div class="col-md-6"><img src="assets/images/frigate-ecojet/engineering-view/engineering-view-3.png" alt="" class="img-fluid"></div>
                        <div class="col-md-6">
                            <div class="row justify-content-end">
                                <div class="col-md-9">
                                    <div class="char-table">
                                        <div class="char-table__title">
                                            Лётные и массовые характеристики
                                        </div>
                                        <div class="char-table__body">

                                            {% set items = [
                                                {'name': 'Размах крыла, <span class="tech-caption">м</span>', 'value': '45.4', 'rowSubClass': ''},
                                                {'name': 'Габариты, <span class="tech-caption">м</span>', 'value': '', 'rowSubClass': ''},
                                                {'name': 'Длина, <span class="tech-caption">м</span>', 'value': '47.325', 'rowSubClass': 'char-table__row--sub'},
                                                {'name': 'Ширина, <span class="tech-caption">м</span>', 'value': '45.4', 'rowSubClass': 'char-table__row--sub'},
                                                {'name': 'Высота, <span class="tech-caption">м</span>', 'value': '4.935', 'rowSubClass': 'char-table__row--sub'},
                                                {'name': 'Дальность полета, <span class="tech-caption">км</span>', 'value': '3 500', 'rowSubClass': ''}
                                            ] %}

                                            {% for item in items %}

                                                <div class="char-table__row {{ item.rowSubClass }}">
                                                    <div class="char-table__cell">{{ item.name | safe }}</div>
                                                    <div class="char-table__cell">{{ item.value | safe }}</div>
                                                </div>

                                            {% endfor %}
                                        </div>
                                    </div>
                                    <a href="#engineering-view-frigate-popup" class="button-base button-base--bordered mt-4 popup-modal-btn">Все характеристики</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- start popups -->
    <div class="popup-base content-block mfp-hide zoom-anim-dialog" id="main-view-frigate-popup">
        <div class="popup-base__content">
            <div class="row">
                <div class="col-md-6">
                    <div class="char-table">
                        <div class="char-table__title">
                            Массовые характеристики
                        </div>
                        <div class="char-table__body">

                            {% set items = [
                                {'name': 'Максимальная взлетная масса, <span class="tech-caption">кг</span>', 'value': '140 400', 'rowSubClass': ''},
                                {'name': 'Масса пустого снаряжения, <span class="tech-caption">кг</span>', 'value': '84 860', 'rowSubClass': ''},
                                {'name': 'Масса коммерческой нагрузки, <span class="tech-caption">км</span>', 'value': '', 'rowSubClass': ''},
                                {'name': 'нормальная', 'value': '28 500', 'rowSubClass': 'char-table__row--sub'},
                                {'name': 'максимальная', 'value': '35 000', 'rowSubClass': 'char-table__row--sub'},
                                {'name': 'Масса топлива, <span class="tech-caption">км</span>', 'value': '', 'rowSubClass': ''},
                                {'name': 'в консолях', 'value': '32 300', 'rowSubClass': 'char-table__row--sub'},
                                {'name': 'в консолях и центроплане(перегон)', 'value': '32 300', 'rowSubClass': 'char-table__row--sub'}
                            ] %}

                            {% for item in items %}

                                <div class="char-table__row {{ item.rowSubClass }}">
                                    <div class="char-table__cell">{{ item.name | safe }}</div>
                                    <div class="char-table__cell">{{ item.value | safe }}</div>
                                </div>

                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="char-table">
                        <div class="char-table__title">
                            Лётные характеристики
                        </div>
                        <div class="char-table__body">

                            {% set items = [
                                {'name': 'Дальность полёта, <span class="tech-caption">км</span>', 'value': '3 500', 'rowSubClass': ''},
                                {'name': 'Топливная эффективность, <span class="tech-caption">г/пасс,км</span>', 'value': 'не более 15', 'rowSubClass': ''},
                                {'name': 'Крейсерская скорость, <span class="tech-caption">км/ч</span>', 'value': '840', 'rowSubClass': ''},
                                {'name': 'Класс аэродрома базирования', 'value': 'Б(III)', 'rowSubClass': ''},
                                {'name': 'Ресурс самолета, <span class="tech-caption">часов/посадок/лет</span>', 'value': '60 000/35 000/25', 'rowSubClass': ''},
                                {'name': 'Пассажировместимость, <span class="tech-caption">пасс</span>', 'value': '4 541', 'rowSubClass': ''},
                                {'name': '2-х классная', 'value': '280 (28 + 252)', 'rowSubClass': 'char-table__row--sub'},
                                {'name': 'премиум эконом класс', 'value': '302', 'rowSubClass': 'char-table__row--sub'},
                                {'name': 'эконом класс', 'value': '352 (399)', 'rowSubClass': 'char-table__row--sub'}
                            ] %}

                            {% for item in items %}

                                <div class="char-table__row {{ item.rowSubClass }}">
                                    <div class="char-table__cell">{{ item.name | safe }}</div>
                                    <div class="char-table__cell">{{ item.value | safe }}</div>
                                </div>

                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="popup-base content-block mfp-hide zoom-anim-dialog" id="engineering-view-frigate-popup">
        <div class="popup-base__content">
            <div class="row">
                <div class="col-md-6">
                    <div class="char-table">
                        <div class="char-table__title">
                            Массовые характеристики
                        </div>
                        <div class="char-table__body">

                            {% set items = [
                                {'name': 'Максимальная взлетная масса, <span class="tech-caption">кг</span>', 'value': '140 400', 'rowSubClass': ''},
                                {'name': 'Масса пустого снаряжения, <span class="tech-caption">кг</span>', 'value': '84 860', 'rowSubClass': ''},
                                {'name': 'Масса коммерческой нагрузки, <span class="tech-caption">км</span>', 'value': '', 'rowSubClass': ''},
                                {'name': 'нормальная', 'value': '28 500', 'rowSubClass': 'char-table__row--sub'},
                                {'name': 'максимальная', 'value': '35 000', 'rowSubClass': 'char-table__row--sub'},
                                {'name': 'Масса топлива, <span class="tech-caption">км</span>', 'value': '', 'rowSubClass': ''},
                                {'name': 'в консолях', 'value': '32 300', 'rowSubClass': 'char-table__row--sub'},
                                {'name': 'в консолях и центроплане(перегон)', 'value': '32 300', 'rowSubClass': 'char-table__row--sub'}
                            ] %}

                            {% for item in items %}

                                <div class="char-table__row {{ item.rowSubClass }}">
                                    <div class="char-table__cell">{{ item.name | safe }}</div>
                                    <div class="char-table__cell">{{ item.value | safe }}</div>
                                </div>

                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="char-table">
                        <div class="char-table__title">
                            Лётные характеристики
                        </div>
                        <div class="char-table__body">

                            {% set items = [
                                {'name': 'Дальность полёта, <span class="tech-caption">км</span>', 'value': '3 500', 'rowSubClass': ''},
                                {'name': 'Топливная эффективность, <span class="tech-caption">г/пасс,км</span>', 'value': 'не более 15', 'rowSubClass': ''},
                                {'name': 'Крейсерская скорость, <span class="tech-caption">км/ч</span>', 'value': '840', 'rowSubClass': ''},
                                {'name': 'Класс аэродрома базирования', 'value': 'Б(III)', 'rowSubClass': ''},
                                {'name': 'Ресурс самолета, <span class="tech-caption">часов/посадок/лет</span>', 'value': '60 000/35 000/25', 'rowSubClass': ''},
                                {'name': 'Пассажировместимость, <span class="tech-caption">пасс</span>', 'value': '4 541', 'rowSubClass': ''},
                                {'name': '2-х классная', 'value': '280 (28 + 252)', 'rowSubClass': 'char-table__row--sub'},
                                {'name': 'премиум эконом класс', 'value': '302', 'rowSubClass': 'char-table__row--sub'},
                                {'name': 'эконом класс', 'value': '352 (399)', 'rowSubClass': 'char-table__row--sub'}
                            ] %}

                            {% for item in items %}

                                <div class="char-table__row {{ item.rowSubClass }}">
                                    <div class="char-table__cell">{{ item.name | safe }}</div>
                                    <div class="char-table__cell">{{ item.value | safe }}</div>
                                </div>

                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end popups -->
{% endblock %}