.team-item
  border-radius: 6px
  background: $color-1
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.08)
  cursor: pointer
  transition: transform .2s ease, box-shadow .2s ease
  overflow: hidden
  display: flex
  flex-flow: row
  margin-bottom: 25px
  +media-320
    flex-flow: column
    justify-content: stretch
    align-items: stretch

  &:hover
    transform: translate3d(0,-5px,0)
    box-shadow: 3px 8px 8px 0px rgba(0, 0, 0, 0.08)

  &__image
    width: 150px
    height: 150px
    background-size: cover
    background-position: top center
    +media-320
      width: 100%

  &__info
    padding: 20px
    +media-320
      text-align: center

  &__info-name
    font-size: 16px
    line-height: 18px
    +media-480
      font-size: 14px
    +media-320
      font-size: 16px

  &__info-position
    font-size: 13px
    color: $color-4
    font-weight: $font-weight-light
    margin-top: 5px
    +media-480
      font-size: 12px
    +media-320
      font-size: 13px

  &__info-contacts
    font-size: 13px
    line-height: 18px
    margin-top: 15px
    +media-480
      margin-top: 5px

    a
      color: $color-4
      text-decoration: none
      transition: color .3s ease
      &:hover
        color: $base-color

    i
      color: $base-color
      margin-right: 5px
      +media-480
        display: none
      +media-320
        display: inline-block

  &__email
    margin-top: 10px
    +media-480
      margin-top: 5px

.business-card
  display: flex
  flex-flow: row
  align-items: center
  &__image
    width: 125px
    border-radius: 50%
    overflow: hidden
    background:
      size: cover
      position: center top
    &:after
      content: ''
      display: block
      padding-top: 100%

  &__info
    flex: 1

  &__name
    font-size: 20px
    line-height: 18px

  &__position
    font-weight: $font-weight-light
    color: $color-4

  &__contacts
    margin-top: 10px
    display: flex
    span
      display: inline-block
      &.mail
        margin-left: 20px
      a
        color: $color-4
        text-decoration: none
        transition: .2s ease-in-out
        &:hover
          color: $base-color