.block-card
  display: flex
  flex-direction: column
  background: $color-1
  border-radius: 6px
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.08)
  transition: transform .2s cubic-bezier(.17,.67,.83,.67), box-shadow .2s cubic-bezier(.17,.67,.83,.67)
  overflow: hidden
  height: 100%
  margin-bottom: 20px
  text-decoration: none

  &:hover
    text-decoration: none
    transform: translate3d(0,-5px,0)
    box-shadow: 3px 8px 8px 0px rgba(0, 0, 0, 0.08)

  &--with-thumbnail &__image
    height: 170px
    background-size: cover
    background-position: center center

  &--with-thumbnail &__info-head
    color: $color-5
    line-height: 20px
    font-size: 16px

  &__info
    flex: 1
    padding: 20px
    height: 100%
    display: flex
    flex-direction: column
    justify-content: space-between

  &__info-head
    font-size: 14px
    line-height: 18px
    font-weight: $font-weight-normal
    color: $color-4

  &__info-footer
    color: $color-3
    display: flex
    flex-direction: row
    justify-content: space-between
    font-size: 14px
    line-height: 18px
    margin-top: 20px

    span
      display: block