.gallery-item
  display: block
  position: relative
  margin-bottom: 20px
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.08)
  transition: box-shadow .2s cubic-bezier(.17,.67,.83,.67)

  &:hover
    box-shadow: 3px 8px 8px 0px rgba(0, 0, 0, 0.08)

  &:hover &__descr
    transform: translateY(0)

  &__inner
    overflow: hidden
    position: relative
    border-radius: 6px
    height: 100%

  &--photo
    height: 190px

    img
      object-fit: fill

  &--video
    //height: 360px
    margin-top: 25px

    .gallery-item__inner
      line-height: 0

    iframe
      height: 350px
      +media-height-768
        height: 250px

  &--photo &__descr
    position: absolute
    left: 0
    bottom: 0
    transform: translateY(100%)
    background: rgba(0, 163, 190, .8)
    color: #ffffff
    width: 100%
    padding: 5px 15px
    transition: transform .2s cubic-bezier(.17,.67,.83,.67)
    display: flex
    justify-content: space-between
    font-weight: $font-weight-light
    font-size: 13px

  &--video &__descr
    position: absolute
    bottom: calc(100% + 5px)
    left: 0
    width: 100%
    display: flex
    justify-content: space-between

    & > .video-name, > .video-size
      font-size: 14px
      font-weight: $font-weight-light

    & > .video-size
      color: $color-3

  &__hq-icon
    position: absolute
    top: 10px
    left: 15px
    display: inline-block
    text-transform: uppercase
    color: $color-1
    background: rgba(0, 163, 190, .8)
    padding: 3px 10px
    font-weight: $font-weight-light
    font-size: 13px
    border-radius: 3px

    &--legend
      position: relative
      top: auto
      left: auto

