@keyframes fadeInOpacity
  0%
    opacity: 0

  100%
    opacity: 1

@keyframes fadeInLeftBottom
  0%
    opacity: 0
    transform: translateX(-100%) translateY(100%)

  100%
    opacity: 1
    transform: translateX(0) translateY(0)

@keyframes fadeInRightBottom
  0%
    opacity: 0
    transform: translateX(100%) translateY(100%)

  100%
    opacity: 1
    transform: translateX(0) translateY(0)

@keyframes fadeInTop
  0%
    opacity: 0
    transform: translateY(-100%)

  100%
    opacity: 1
    transform: translateY(0)