.dot-list
  list-style: none

  li
    display: flex
    align-items: flex-start
    &:before
      content: '\2022'
      display: inline-block
      font-size: 30px
      color: $base-color
      margin-right: 10px
      line-height: 18px

  &__sub-list
    li
      &:before
        content: '\2014'
        color: inherit
        font-weight: 100