.target-list
  list-style: none

  &__item
    position: relative
    padding: 5px 0
    font-size: 16px
    line-height: 18px
    &:before
      content: '\2713'
      display: inline-block
      border-radius: 50%
      background: $base-color
      color: $color-1
      width: 20px
      height: 20px
      vertical-align: middle
      text-align: center
      margin-right: 10px
      line-height: 24px
    span
      display: inline-block
      vertical-align: middle

    &--not-active
      color: $color-3
      font-weight: $font-weight-light
      &:before
        content: ''
        background: none
        border: 1px dashed $color-3