.hover-bullet
  position: absolute
  width: 10px
  height: 10px
  z-index: 10
  &:after
    content: ''
    position: absolute
    top: 0
    left: 0
    display: block
    width: 10px
    height: 10px
    border: 1px solid $base-color
    border-radius: 50%
    background: $color-1
    cursor: pointer
    transition: transform .2s ease-in-out
    z-index: 10

  &:hover
    &:after
      transform: scale(1.8)

  &.show &__description
    visibility: visible
    opacity: 1
    transition: opacity .2s ease-in-out
    &:after
      transition-delay: .2s
      width: 100%

  &__description
    position: absolute
    font-size: 14px
    line-height: 18px
    width: 350px
    visibility: hidden
    opacity: 0
    transition: opacity .2s ease-in-out
    &:after
      content: ''
      display: block
      position: absolute
      left: 0
      width: 0
      height: 1px
      bottom: -6px
      background: $base-color
      transition: width .5s ease-in-out

  &__description-title
    font-size: 16px

  &__line
    height: 1px
    background-color: $base-color
    transform-origin: 0 100%
    position: absolute
    z-index: 1

  &--left &__description
    &:after
      left: auto
      right: 0