{% extends "layouts/layout.njk" %}

{% block content %}

    <div class="container">
        <div class="time-line">
            <div class="time-line-menu">

                {%  set items = [
                    { 'itemName': 'Фото', 'id': 'photo-gallery', 'itemClass': '', 'link': 'photo-gallery.html' },
                    { 'itemName': 'Видео', 'id': 'video-gallery', 'itemClass': '', 'link': 'video-gallery.html' },
                    { 'itemName': 'Лого', 'id': 'logo-gallery', 'itemClass': 'active last', 'link': 'logo-gallery.html'}
                ] %}

                {% for item in items %}
                    <a href="{{ item.link }}" class="time-line-menu__item js-timeline-item {{ item.itemClass }}" data-id="{{ item.id }}">
                        <div class="time-line-menu__item-circle"></div>
                        <div class="time-line-menu__item-name">{{ item.itemName }}</div>
                    </a>

                    <div class="time-line-menu__line"></div>
                {% endfor %}

            </div>

            <div class="gallery-wrapper">
                <div id="gallery-container">
                    <div id="logo-gallery">
                        <div class="row">
                            <div class="col-lg-3 col-md-4 col-sm-6 pt-sm-0 pt-3">
                                <div class="logo-gallery-item">
                                    <div class="logo-gallery-item__logo">
                                        <img src="assets/images/logo_eng.png" alt="Logo Eng">
                                    </div>
                                    <div class="logo-gallery-item__descr">
                                        Английская версия логотипа
                                    </div>
                                    <div class="logo-gallery-item__link-download">
                                        <a href="#">Скачать в формате .eps</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-6 pt-sm-0 pt-3">
                                <div class="logo-gallery-item">
                                    <div class="logo-gallery-item__logo">
                                        <img src="assets/images/logo_rus.png" alt="Logo Rus">
                                    </div>
                                    <div class="logo-gallery-item__descr">
                                        Русская версия логотипа
                                    </div>
                                    <div class="logo-gallery-item__link-download">
                                        <a href="#">Скачать в формате .eps</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}