{% extends "layouts/layout.njk" %}

{% block content %}
    <div class="container">
        <div class="time-line">
            <div class="time-line-menu">

                {%  set items = [
                    { 'itemName': 'Фото', 'id': 'photo-gallery', 'itemClass': 'active', 'link': 'photo-gallery.html' },
                    { 'itemName': 'Видео', 'id': 'video-gallery', 'itemClass': '', 'link': 'video-gallery.html' },
                    { 'itemName': 'Лого', 'id': 'logo-gallery', 'itemClass': 'last', 'link': 'logo-gallery.html'}
                ] %}

                {% for item in items %}
                    <a href="{{ item.link }}" class="time-line-menu__item js-timeline-item {{ item.itemClass }}" data-id="{{ item.id }}">
                        <div class="time-line-menu__item-circle"></div>
                        <div class="time-line-menu__item-name">{{ item.itemName }}</div>
                    </a>

                    <div class="time-line-menu__line"></div>
                {% endfor %}
                <div class="gallery-legend">
                    <span class="gallery-item__hq-icon gallery-item__hq-icon--legend">hq</span> высокое качество
                </div>
            </div>
        </div>

        <div class="gallery-wrapper">
            <div class="gallery-wrapper__loader" id="spin-loader">
                <img src="assets/images/spin-load.gif" alt="">
            </div>
            <div id="gallery-container">
                <div id="photo-gallery">
                    <div class="row">
                        {% for i in range(0, 24) -%}
                            <div class="col-lg-3 col-md-4 col-sm-6">
                                <a href="assets/images/gallery-photo-1.jpg" class="gallery-item gallery-item--photo" data-lightbox="photo-gallery">
                                    <div class="gallery-item__inner">
                                        <span class="gallery-item__hq-icon">
                                            hq
                                        </span>
                                        <img src="assets/images/gallery-photo/gallery-photo-1.jpg" alt="Gallery Item">
                                        <div class="gallery-item__descr">
                                            <span>3962x2641</span>
                                            <span>6.2 мб</span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        {%- endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}