{% extends "layouts/layout.njk" %}

{% block content %}
    <div class="container">
        <div class="time-line">
            <div class="time-line-menu">

                {%  set items = [
                    { 'itemName': 'Фото', 'id': 'photo-gallery', 'itemClass': '', 'link': 'photo-gallery.html' },
                    { 'itemName': 'Видео', 'id': 'video-gallery', 'itemClass': 'active', 'link': 'video-gallery.html' },
                    { 'itemName': 'Лого', 'id': 'logo-gallery', 'itemClass': 'last', 'link': 'logo-gallery.html'}
                ] %}

                {% for item in items %}
                    <a href="{{ item.link }}" class="time-line-menu__item js-timeline-item {{ item.itemClass }}" data-id="{{ item.id }}">
                        <div class="time-line-menu__item-circle"></div>
                        <div class="time-line-menu__item-name">{{ item.itemName }}</div>
                    </a>

                    <div class="time-line-menu__line"></div>
                {% endfor %}
            </div>
        </div>

        <div class="gallery-wrapper">
            <div id="gallery-container">
                <div id="video-gallery">

                    <div class="row">
                        {% for i in range(0, 3) -%}
                            <div class="col-md-6">
                                <div href="#" class="gallery-item gallery-item--video">
                                    <div class="gallery-item__descr">
                                        <span class="video-name">Frigate Ecojet take off</span>
                                        <span class="video-size">6.2 мб</span>
                                    </div>
                                    <div class="gallery-item__inner">
                                        <iframe width="100%" src="https://www.youtube.com/embed/2gCxKlrjBWI" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                    </div>
                                </div>
                            </div>
                        {%- endfor %}
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}