.time-line
  position: relative
  width: 100%

.time-line-menu
  position: absolute
  top: 0
  right: 100%
  padding-left: 20px
  padding-right: 20px
  display: flex
  flex-direction: column
  align-items: center

  +media-1366
    position: relative
    flex-direction: row
    right: auto
    justify-content: center
    padding-top: 40px
    padding-bottom: 20px

  &__item
    position: relative
    white-space: nowrap

    &:hover
      .time-line-menu__item-circle
        border-color: $color-5
      .time-line-menu__item-name
        color: $color-5

    &.active
      .time-line-menu__item-circle
        &:after
          visibility: visible
          opacity: 1
      .time-line-menu__item-name
        color: $base-color

    &.last
      & + .time-line-menu__line
        display: none

  &__item-circle
    display: block
    position: relative
    background: transparent
    border-radius: 50%
    width: 13px
    height: 13px
    border: 1px solid $color-3
    cursor: pointer
    transition: border-color .2s ease-in-out
    &:after
      content: ''
      display: block
      visibility: hidden
      opacity: 0
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)
      border-radius: 50%
      background: $color-2
      width: 20px
      height: 20px
      border: 1px solid $base-color
      transition: opacity .1s ease-in-out

  &__line
    display: block
    height: 36px
    width: 1px
    background: $color-3
    +media-1366
      width: 120px
      height: 1px

  &__item-name
    position: absolute
    font-weight: $font-weight-light
    font-size: 16px
    color: $color-3
    top: -7px
    right: calc(100% + 15px)
    transition: color .2s ease-in-out
    +media-1366
      top: -35px
      left: 50%
      transform: translate(-50%)
      right: auto

  &--like-tabs
    position: relative
    flex-direction: column
    align-items: start
    padding: 0

  &--like-tabs &__inner
    position: relative
    display: flex
    flex-direction: column
    align-items: center

  &--like-tabs &__line
    height: 36px
    width: 1px

  &--like-tabs &__item-name
    top: -5px
    left: calc(100% + 15px)
    right: auto
    transform: none


.time-line-tabs
  &__content
    position: absolute
    left: -99999px
    visibility: hidden
    opacity: 0
    transition: opacity .3s ease-in-out
    &.active
      position: relative
      left: auto
      opacity: 1
      visibility: visible