.char-table
  line-height: 18px

  &__title
    font-size: 20px
    font-weight: $font-weight-normal
    margin-bottom: 10px

  &__row
    display: flex
    flex-flow: row
    margin-bottom: 15px
    &:last-child
      margin-bottom: 0

    &--sub
      padding-left: 20px
      &:before
        content: '\2014'
        display: inline-block
        margin-right: 5px

  &__cell
    font-size: 14px
    &:first-child
      flex: 1
    &:last-child
      text-align: right