.advantages-carousel
  position: relative

  .slick-slide img
    width: 100%

  &__item
    position: relative

  &__nav
    text-align: center

  &__nav-arrow
    background: none
    border: none
    padding: 0
    display: inline-block
    cursor: pointer
    transition: transform .1s ease-in-out
    svg
      path
        stroke: $base-color

    &.slick-disabled
      cursor: auto
      svg
        path
          stroke: $color-4
      &:hover
        transform: none

    &:focus
      outline: none

    &:hover
      transform: scale(1.1)