<footer class="footer">
    <div class="container">
        <div class="d-flex justify-content-between">
            <div class="footer__column">
                <ul class="social-list social-list--footer social-list--desktop">
                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
                </ul>
                <div class="footer__copyright footer__copyright--desktop">
                    © 2018 Фрегат Экоджет. Все права сохранены
                </div>
            </div>
            <div class="footer__column">
                <div class="footer__slogan">
                    Нечто большее, чем новый самолет
                </div>

                <ul class="social-list social-list--footer social-list--mobile">
                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
                </ul>

                <div class="footer__developer footer__developer--mobile">
                    Сайт разработан студией <a href="#" target="_blank">WIRES</a>
                </div>

                <div class="footer__copyright footer__copyright--mobile">
                    © 2018 Фрегат Экоджет. Все права сохранены
                </div>
            </div>
            <div class="footer__column">
                <ul class="lang-switcher lang-switcher--footer">
                    <li class="active"><a href="#">RU</a></li>
                    <li><a href="#">EN</a></li>
                </ul>
                <div class="footer__developer footer__developer--desktop">
                    Сайт разработан студией <a href="#" target="_blank">WIRES</a>
                </div>
            </div>
        </div>
    </div>
</footer>