<header class="header header--main-page">
    <div class="container">
        <div class="row justify-content-between align-items-center">
            <div class="col d-flex justify-content-start">
                <div class="header__burger js-burger-menu">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
            <div class="col d-flex justify-content-center">
                <div class="header__logo">
                    <a href="index.html" class="d-inline-block header__logo-link">
                        <img src="assets/images/logo.png" alt="" class="img-fluid">
                        <div class="header__logo-company-name">
                            Фрегат Экоджет
                        </div>
                    </a>
                </div>
            </div>
            <div class="col d-flex justify-content-end">
                <div class="header__search">

                </div>
            </div>
        </div>
    </div>
</header>