<div class="main-menu" id="main-menu">
    <div class="container d-flex h-sm-100">
        <div class="main-menu__inner">
            <div class="row">
                <div class="col-sm-7 px-3 px-xs-0">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="main-menu__section">
                                <div class="main-menu__section-title">
                                    Компания
                                </div>
                                <ul class="main-menu__list-items">
                                   <li><a href="./team.html">Руководство</a></li>
                                   <li><a href="#">Цифровое КБ</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="main-menu__section">
                                <div class="main-menu__section-title">
                                    Программа
                                </div>
                                <ul class="main-menu__list-items">
                                    <li><a href="target.html">Цель</a></li>
                                    <li><a href="status.html">Статус</a></li>
                                    <li><a href="#">Платформа TeTrA</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-6 d-none d-md-block">
                            <div class="main-menu__section">
                                <div class="main-menu__section-title">
                                    Самолет
                                </div>
                                <ul class="main-menu__list-items">
                                    <li><a href="frigate-ecojet.html">Фрегат Экоджет</a></li>
                                    <li><a href="freejet.html">Фриджет</a></li>
                                    <li><a href="composition.html">Компоновка</a></li>
                                    <li><a href="advantages.html">Преимущества</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="main-menu__section">
                                <div class="main-menu__section-title">
                                    Пресс-центр
                                </div>
                                <ul class="main-menu__list-items">
                                    <li><a href="news.html">Новости</a></li>
                                    <li><a href="documents.html">Документы</a></li>
                                    <li><a href="photo-gallery.html">Галерея</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-md-12">
                            <ul class="lang-switcher lang-switcher--main-menu">
                                <li class="active"><a href="#">RU</a></li>
                                <li><a href="#">EN</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-5 col-lg-4 ml-auto">
                    <div class="main-menu__section main-menu__section--colored contact-block contact-block--main-menu contact-block--desktop py-4 py-xs-0">
                        <div class="main-menu__section-title">
                            Контакты
                        </div>
                        <div class="contact-block__title">
                            Адрес:
                        </div>
                        <div class="contact-block__value">
                            119017, Россиия, Москва, Кадашевская
                            набережная, дом 6/1
                        </div>
                        <div class="contact-block__title">
                            Телефон:
                        </div>
                        <div class="contact-block__value">
                            <a href="tel:+74992388444">+7 (499) 238 84 44</a>
                        </div>
                        <div class="contact-block__title">
                            Факс:
                        </div>
                        <div class="contact-block__value">
                            <a href="tel:+74992388444">+74992322517</a>
                        </div>
                        <div class="contact-block__title">
                            Почта для связи:
                        </div>
                        <div class="contact-block__value">
                            <a href="mailto:contact@rosavia.ru">contact@rosavia.ru</a>
                        </div>
                        <a href="#" class="contact-block__show-on-map" target="_blank">Показать на карте</a><i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                        <ul class="social-list social-list--main-menu mt-3">
                            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="main-menu__section main-menu__section--colored contact-block contact-block--main-menu contact-block--mobile py-4 py-xs-0">
        <div class="main-menu__section-title">
            Контакты
        </div>
        <div class="contact-block__title">
            Адрес:
        </div>
        <div class="contact-block__value">
            119017, Россиия, Москва, Кадашевская
            набережная, дом 6/1
        </div>
        <div class="contact-block__title">
            Телефон:
        </div>
        <div class="contact-block__value">
            <a href="tel:+74992388444">+7 (499) 238 84 44</a>
        </div>
        <div class="contact-block__title">
            Факс:
        </div>
        <div class="contact-block__value">
            <a href="tel:+74992388444">+74992322517</a>
        </div>
        <div class="contact-block__title">
            Почта для связи:
        </div>
        <div class="contact-block__value">
            <a href="mailto:contact@rosavia.ru">contact@rosavia.ru</a>
        </div>
        <a href="#" class="contact-block__show-on-map" target="_blank">Показать на карте</a><i class="fa fa-long-arrow-right" aria-hidden="true"></i>
        <ul class="social-list social-list--main-menu mt-3">
            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
        </ul>
    </div>
    <div class="main-menu__filled-side"></div>
</div>