.button-base
  display: inline-block
  font-size: $font-size-button
  border-radius: 6px
  font-weight: $font-weight-light
  line-height: 18px
  padding: 8px 15px
  text-decoration: none
  cursor: pointer

  &:focus
    outline: none

  &--filled
    color: #ffffff
    background: $base-color
    transition: background .2s ease-in-out
    &:hover
      color: $color-1
      background: #007C97

  &--bordered
    color: $color-5
    border: 1px solid $color-3
    transition: .3s ease
    background: none
    &:hover
      color: $base-color
      border-color: $base-color

  &--main-page-button
    color: $color-1
    border-color: $color-1
    font-size: 16px
    padding: 10px 45px


.button-360
  position: absolute
  width: 30px
  margin-top: 20px
  top: 100%
  cursor: pointer
  background: none
  padding: 0
  border: none
  z-index: 10
  &:focus
    outline: none

  svg
    path
      transition: fill .2s cubic-bezier(.17,.67,.83,.67)
      fill: $color-4 !important

  &:hover
    svg
      path
        fill: $base-color !important

  &.active
    svg
      path
        fill: $base-color !important