.popup-base
  //position: absolute
  //z-index: 9999
  max-width: 890px
  margin: 40px auto
  position: relative

  .mfp-close
    color: $base-color
    &:focus
      outline: none

  &__content
    padding: 40px

.popup-overlay
  position: fixed
  top: 0
  right: 0
  bottom: 0
  left: 0
  background: $color-5
  opacity: .8
  z-index: 999

.my-mfp-zoom-in .zoom-anim-dialog
  opacity: 0
  transition: all 0.2s ease-in-out
  transform: scale(0.8)

/* animate in */
.my-mfp-zoom-in.mfp-ready .zoom-anim-dialog
  opacity: 1
  transform: scale(1)

/* animate out */
.my-mfp-zoom-in.mfp-removing .zoom-anim-dialog
  transform: scale(0.8)

  opacity: 0

/* Dark overlay, start state */
.my-mfp-zoom-in.mfp-bg
  opacity: 0
  transition: opacity 0.3s ease-out

/* animate in */
.my-mfp-zoom-in.mfp-ready.mfp-bg
  opacity: 0.8

/* animate out */
.my-mfp-zoom-in.mfp-removing.mfp-bg
  opacity: 0
