.switcher

  &__value
    font-size: 16px
    line-height: 18px
    color: $color-3
    font-weight: $font-weight-light
    display: inline-block
    vertical-align: middle
    transition: color .3s ease

    &--active
      color: $color-5

  &__switch
    position: relative
    display: inline-block
    margin-bottom: 0
    vertical-align: middle
    line-height: 0

    input
      display: none

  &__slider
    display: inline-block
    position: relative
    width: 37px
    height: 20px
    vertical-align: middle
    margin-left: 5px
    margin-right: 5px
    cursor: pointer
    //top: 0
    //left: 0
    //right: 0
    //bottom: 0
    //border: 1px solid $color-3
    //transition: .4s
    //border-radius: 34px

    &:before
      content: ''
      position: absolute
      //cursor: pointer
      top: 0
      left: 0
      right: 0
      bottom: 0
      border: 1px solid $color-3
      transition: .4s
      border-radius: 34px


    &:after
      position: absolute
      content: ""
      height: 12px
      width: 12px
      left: 4px
      bottom: 4px
      background-color: $base-color
      transition: .4s
      border-radius: 50%

input:checked
  //& + .switcher__slider + .switcher__value
  //  color: $color-5
  //
  //.switcher__value--previous
  //  color: $color-3



input:focus + .switcher__slider
  //box-shadow: 0 0 1px #2196F3

input:checked + .switcher__slider:after
  transform: translateX(15px)
