.lang-switcher
  list-style: none
  display: flex
  font-size: 14px

  &--main-menu
    font-size: 22px
    +media-height-768
      font-size: 16px
    +media-768
      display: none

  &--footer
    +media-575
      display: none

  li
    padding-left: 10px
    padding-right: 10px
    line-height: 16px

    &:first-child
      padding-left: 0

    &:last-child
      padding-right: 0

      a
        &:after
          display: none

    &.active
      a
        color: $base-color

    a
      display: inline-block
      position: relative
      color: $color-3
      font-weight: $font-weight-light
      transition: .2s ease-in
      text-decoration: none
      &:hover
        text-decoration: none
        color: $base-color

      &:after
        content: ''
        display: block
        position: absolute
        top: 0
        right: -11px
        width: 2px
        height: 100%
        background: $color-3