{% extends "layouts/layout.njk" %}

{% block content %}

    <div class="container">
        <div class="row">
            {% for  i in range(0, 10) -%}
            <div class="col-md-6">
                <div class="doc-item doc-item--with-image">
                    <div class="doc-item__image">
                        <img src="assets/images/doc-items/doc-item-1.jpg" alt="Doc">
                    </div>
                    <div class="doc-item__info">
                        <div class="doc-item__head">
                            Презентация 4-двигательной модификации самолета -
                            FreeJet
                        </div>
                        <div class="doc-item__body">
                            <div class="doc-item__descr">
                                3.6 мб, PDF <span class="vertical-divider">|</span> 36 страниц
                            </div>
                        </div>
                        <div class="doc-item__footer">
                            <div class="doc-item__footer-left">
                                <a href="#" class="doc-item__btn">Скачать</a>
                                <a href="#" class="doc-item__btn doc-item__btn--gray ml-4">Открыть</a>
                            </div>
                            <div class="doc-item__footer-right">
                                <div class="doc-item__date">
                                    28.08.2017
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {%- endfor %}
        </div>
    </div>

{% endblock %}