{% extends "layouts/layout.njk" %}

{% block content %}
    <div class="container">
        <div class="time-line">
            <div class="time-line-menu">

                {%  set items = [
                    { 'itemName': '2017', 'id': 'news-date-1', 'itemClass': 'active' },
                    { 'itemName': '2016', 'id': 'news-date-2', 'itemClass': '' },
                    { 'itemName': '2015', 'id': 'news-date-3', 'itemClass': '' },
                    { 'itemName': '2014', 'id': 'news-date-4', 'itemClass': '' },
                    { 'itemName': '2013', 'id': 'news-date-5', 'itemClass': '' },
                    { 'itemName': '2012', 'id': 'news-date-6', 'itemClass': '' },
                    { 'itemName': '2011', 'id': 'news-date-7', 'itemClass': '' },
                    { 'itemName': '2010', 'id': 'news-date-8', 'itemClass': 'last'}
                ] %}

                {% for item in items %}
                    <div class="time-line-menu__item js-timeline-item {{ item.itemClass }}" id="{{ item.id }}">
                        <div class="time-line-menu__item-circle"></div>
                        <div class="time-line-menu__item-name">{{ item.itemName }}</div>
                    </div>

                    <div class="time-line-menu__line"></div>
                {% endfor %}

            </div>
        </div>


        <div class="recent-news">
            <div class="row d-flex flex-row align-items-stretch">
                <div class="col-lg-4 col-md-6 mb-4">
                    <a href="news-single.html" class="block-card block-card--with-thumbnail js-article">
                        <div class="block-card__image" style="background-image: url(${require('assets/images/news/news-1.jpg')})"></div>
                        <div class="block-card__info js-article-info">
                            <div class="block-card__info-head">
                                Руководитель программы "Фрегат Экоджет": Мы рассчитываем на компетенции российских компаний
                            </div>
                            <div class="block-card__info-footer">
                                <span>Время чтения: 7 мин.</span>
                                <span><i class="fa fa-paperclip" aria-hidden="true"></i> PDF</span>
                                <span>06.12.2017</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 mb-4">
                    <a href="news-single.html" class="block-card block-card--with-thumbnail js-article">
                        <div class="block-card__image" style="background-image: url(${require('assets/images/news/news-2.jpg')})"></div>
                        <div class="block-card__info js-article-info">
                            <div class="block-card__info-head">
                                Концепция организации новой индустриальной платформы
                            </div>
                            <div class="block-card__info-footer">
                                <span>Время чтения: 3 мин.</span>
                                <span>27.11.2017</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 mb-4">
                    <a href="news-single.html" class="block-card block-card--with-thumbnail js-article">
                        <div class="block-card__image" style="background-image: url(${require('assets/images/news/news-3.jpg')})"></div>
                        <div class="block-card__info js-article-info">
                            <div class="block-card__info-head">
                                Фрегат Экоджет продолжает наращивать портфель интеллектуальной собственности
                            </div>
                            <div class="block-card__info-footer">
                                <span>Время чтения: 5 мин.</span>
                                <span>28.09.2017</span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div class="news-container">
            <div class="row">
                <div class="col-lg-4 col-md-6 mb-4">
                    <a href="#" class="block-card">
                        <div class="block-card__info">
                            <div class="block-card__info-head">
                                Студия Артемия Лебедева завершила проект создания ливреи самолета Фриджет
                            </div>
                            <div class="block-card__info-footer">
                                <span>Время чтения: 9 мин.</span>
                                <span>28.08.2017</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 mb-4">
                    <a href="#" class="block-card">
                        <div class="block-card__info">
                            <div class="block-card__info-head">
                                Freejet вышел на траекторию развития самолета завтрашнего дня
                            </div>
                            <div class="block-card__info-footer">
                                <span>Время чтения: 4 мин.</span>
                                <span>09.08.2017</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 mb-4">
                    <a href="#" class="block-card">
                        <div class="block-card__info">
                            <div class="block-card__info-head">
                                Интервью руководителя программы "Фрегат Экоджет" в ATO.RU
                            </div>
                            <div class="block-card__info-footer">
                                <span>Время чтения: 3 мин.</span>
                                <span>19.07.2017</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 mb-4">
                    <a href="#" class="block-card">
                        <div class="block-card__info">
                            <div class="block-card__info-head">
                                АНАЛИЗ: Где находится «середина» рынка?
                            </div>
                            <div class="block-card__info-footer">
                                <span>Время чтения: 8 мин.</span>
                                <span>12.07.2017</span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}