{% extends "layouts/layout.njk" %}

{% block content %}
    <div class="container">
        <div class="content-block">
            <div class="head-banner head-banner--single-news" style="background-image: url(${require('assets/images/single-banner.jpg')})">
                <div class="head-banner__content">
                    <div class="head-banner__date">28.08.2017</div>
                    <h1>Студия Артемия Лебедева завершила проект создания ливреи самолета Фриджет</h1>
                    <div class="head-banner__description">
                        <span><i class="fa fa-paperclip" aria-hidden="true"></i> PDF</span> <span class="vertical-divider">|</span> Презентация FreeJet - август 2017
                    </div>
                </div>
            </div>
            <div class="content-block__inner">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <label class="button-base button-base--filled mb-3">Время чтения: 9 мин.</label>

                        <h5>Аванпроект самолета Фриджет разработан командой «Фрегат Экоджет»
                            и был анонсирован на МАКС-2017. Формула «Умнее, Тише, Чище» вызвала большой интерес отраслевого
                            профессионального сообщества и экспертов. Особенностью проекта является применение распределенной маршевой силовой
                            установки, состоящей из 4-х двигателей ПД-14, что создаёт условия для развития концепции «более электрического самолета».
                        </h5>

                        <br>
                        <br>

                        <p>На проект создания ливреи самолёта Фриджет были привлечены профессионалы Студии Артемия Лебедева.</p>

                        <p>«Мы на безальтернативной основе выбрали команду Студии Артемия Лебедева потому, что предполагали,
                            а в последствии убедились в правильности своего предположения, что корпоративный дух Студии Артемия Лебедева пронизан идеей новизны, то есть во главу угла в своей деятельности её сотрудники ставят
                            не ранее приобретённые навыки, а развивают их в соответствие с задачами которые возникают в процессе реализации проекта, делают ставку не на способности и ранее приобретённые компетенции, но на
                            развитие и совершенствование. Этого принципа мы придерживаемся и в своей работе». — сказал Александр Климов, руководитель программы «Фрегат Экоджет».
                        </p>

                        <br>
                        <br>

                        <h3>Проект в детялях</h3>
                        <p>
                            Для начала работы была представлена упрощенная цифровая 3D-модель самолета.
                        </p>
                        <img src="assets/images/single-news/single-news-1.jpg" class="img-fluid image-rounded" alt="">

                        <br>
                        <br>

                        <p>В результате брифинга были определены ключевые понятия для разработки концепции будущей ливреи: «экономичность», «экологичность», «безопасность». Ищем мотив.</p>

                        <img src="assets/images/single-news/single-news-2.jpg" class="img-fluid image-rounded" alt="">

                        <br>
                        <br>

                        <p>Крыло бабочки - концепция, предложенная художественным руководителем проекта со стороны Студии Артемия Лебедева - как нельзя лучше ассоциируется с принципами
                            программы «Фрегат Экоджет» -  "экологичность", "лёгкость". Этот вариант был выбран как базовый и далее прорабатывался детально.
                        </p>

                        <p>Окончательный вариант ливреи был представлен и утверждён в середине июля, точно в соответствие
                            с планом работ.</p>

                        <img src="assets/images/single-news/single-news-3.jpg" class="img-fluid image-rounded" alt="">
                        <br>
                        <br>
                        <a href="#">Финальный макет ливреи самолета Фриджет</a>
                        <br>
                        <br>
                        <p>С детальным описанием творческого процесса на проекте создания ливреи самолета Фриджет можно ознакомиться на
                            <a href="#">сайте Студии Артемия Лебедева</a>.</p>

                        <p>
                            Глобальной задачей аванпроекта Фриджет является создание платформы технологий для достижения характеристик самолета будущего в части обеспечения глобальной мобильности, конкурентоспособности
                            и экологической безопасности (снижение вредных воздействий выбросов CO4 и шумов).
                        </p>

                        <p>
                            Предложенная Студией Артемия Лебедева идея позволяет по-новому взглянуть на технологическую составляющую,
                            ведь крыло бабочки это еще и сложный механизм, который был "разработан" самой природой. Используя технологии, доступные человечеству сегодня, мы можем более глубоко изучать
                            уже существующие решения и применять их на практике.
                        </p>

                        <img src="assets/images/single-news/single-news-4.jpg" class="img-fluid image-rounded" alt="">

                        <br>
                        <br>

                        <p>Мы благодарны всем, кто принимал участие в проекте и рады, что нашли настоящих единомышленников
                            в лице творческого коллектива Студии Артемия Лебедева.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <hr>
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="row">
                                    <div class="col-md-6">
                                        <span class="tech-caption mb-2">Источник: <a href="#">Студия Артемия Лебедева</a></span>
                                        <span class="tech-caption">Автор: Евгения Мальцева</span>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="blog-widgets">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                    </div>
                </div>
                <div class="row justify-content-center mt-3">
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="doc-item">
                                    <div class="doc-item__head">
                                        Презентация FreeJet - август 2017
                                    </div>
                                    <div class="doc-item__body">
                                        <div class="doc-item__descr">
                                            3.6 мб, PDF <span class="vertical-divider">|</span> 36 страниц
                                        </div>
                                    </div>
                                    <div class="doc-item__footer">
                                        <div class="doc-item__footer-left">
                                            <a href="#" class="doc-item__btn">Скачать</a>
                                            <a href="#" class="doc-item__btn doc-item__btn--gray ml-4">Открыть</a>
                                        </div>
                                        <div class="doc-item__footer-right">
                                            <div class="doc-item__date">
                                                28.08.2017
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}