.social-list
  display: flex
  flex-direction: row
  list-style: none
  align-items: center

  &--footer.social-list--desktop
    +media-575
      display: none

  &--footer.social-list--mobile
    display: none
    +media-575
      display: flex
      justify-content: center
      margin-top: 15px

  li
    margin-right: 20px
    &:last-child
      margin-right: 0

    a
      color: $color-4
      transition: color .2s cubic-bezier(.17,.67,.83,.67)
      &:hover
        color: $base-color

  &--main-menu
    i
      transition: transform .2s ease-in-out
    li
      a
        color: $color-1
        font-size: 18px
        &:hover
          color: $color-1
          i
            transform: scale(1.2)