.head-banner
  position: relative
  min-height: 500px
  background-position: center
  background-size: cover
  overflow: hidden
  display: flex
  flex-flow: row
  align-items: center
  justify-content: center
  &:after
    content: ''
    position: absolute
    display: block
    top: 0
    right: 0
    bottom: 0
    left: 0
    background: #000000
    opacity: .5
  +media-992
    min-height: 430px

  &__inner
    height: 100%

  &__content
    position: relative
    z-index: 1
    text-align: center
    width: 550px
    padding-left: 10px
    padding-right: 15px

    h1
      font-family: 'ProximaNovaT', sans-serif
      color: #ffffff
      +media-480
        font-size: 25px

  &--single-news &__date
    font-size: 16px
    font-weight: $font-weight-light
    color: #ffffff
    opacity: .5
    text-align: center
    margin-bottom: 20px

  &--single-news .vertical-divider
    font-size: 26px
    display: inline-block
    vertical-align: middle

  &__description
    font-size: 16px
    font-weight: $font-weight-light
    color: #ffffff
    opacity: .5
    text-align: center
    margin-top: 20px