.tile-main
  display: block
  position: relative
  padding: 30px 25px
  flex: 1
  text-decoration: none
  &:before
    content: ''
    position: absolute
    display: block
    top: 0
    right: 0
    bottom: 0
    left: 0
    background: #87abd0
    z-index: 0

  &__background
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
    background:
      position: top center
      size: cover
    transition: opacity .4s ease-in-out
    opacity: .2

  &:hover &__background
    opacity: .6

  &__inner
    position: relative
    z-index: 1

  &__title
    font-size: 20px
    color: $color-1
    text-transform: uppercase

  &--small
    flex: 50%
    height: 275px
    +media-1366
      height: 200px
    +media-992
      height: 150px
    +media-480
      height: 125px

  &--small &__title
    font-family: 'ProximaNovaT', sans-serif
    font-size: 22px
    line-height: 22px
    text-transform: none
    +media-1366
      font-size: 19px