*
  box-sizing: border-box

html, body
  background: $color-2
  font-family: $font-base
  height: 100%

html
  font-size: 16px

body
  font-size: $font-size-base
  color: $color-5
  display: flex
  flex-direction: column

  &.menu-opened
    overflow: hidden

main
  flex: 1 0 auto

  &.main-page
    height: 100%

footer
  flex-shrink: 0