h1, h2, .h1, .h2
  font-weight: $font-weight-light

h3, .h3
  font-weight: $font-weight-normal

p
  font-size: $font-size-base

ul
  padding: 0
  margin: 0

ul.ul
  list-style: none
  li
    &:before
      content: '\2605'
      color: $base-color
      margin-right: 10px

a
  color: $base-color
  text-decoration: underline
  &:hover
    text-decoration: none

.tech-caption
  display: inline-block
  font-size: 14px
  font-weight: $font-weight-normal
  color: $color-4

  a
    color: $color-4