// VARIABLE

// FONT FAMILY
$font-base: 'ProximaNova', sans-serif;

// COLOR
$color-1: #ffffff;
$color-2: #fafafa;
$color-3: #c4c4c4;
$color-4: #8a8a8a;
$color-5: #191919;
$color-6: #00679f;
$base-color: #00a3be;

// FONT SIZE
$font-size-base: 1rem;
$font-size-button: 14px;
$h1-font-size: $font-size-base * 2.6;
$h2-font-size: $font-size-base * 1.8;
$h3-font-size: $font-size-base * 1.25;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1120px
) !default;