$scheme-items-size: calc(100% / 14 - 20px)

.status-scheme
  position: relative

  &:hover &__tooltip
    visibility: visible
    filter: alpha(opacity=100)
    opacity: 100
    //transition: opacity .2s ease-out

  &__circles
    position: relative
    display: flex
    flex-flow: row nowrap
    justify-content: space-between
    align-items: center

  &__item
    position: relative
    width: $scheme-items-size
    border-radius: 50%
    border: 2px dashed $color-6
    background: $color-1
    z-index: 1
    cursor: pointer
    text-align: center
    line-height: 0
    &:after
      content: ''
      display: block
      padding-top: 100%

    &.active
      span
        display: block
        color: $color-1
      .status-scheme__item-inner
        width: calc(100% + 15px)
        height: calc(100% + 15px)

    span
      display: inline-block
      position: absolute
      left: 50%
      top: 50%
      transform: translate(-50%, -50%)
      z-index: 2
      +media-1366
        font-size: 13px

    &--completed
      background: $color-6
      &:before
        content: '\2713'
        font-family: FontAwesome
        color: $color-1
        text-align: center
        font-size: 25px
        position: absolute
        left: 50%
        top: 50%
        font-weight: 300
        transform: translate(-50%, -50%)
        +media-1366
          font-size: 20px

      span
        display: none

      &.active
        &:before
          content: ''

    &--current
      border: none
      &:before
        content: ''
        display: block
        position: absolute
        left: 50%
        top: 50%
        border-radius: 50%
        padding-top: calc(100% + 10px)
        padding-left: calc(100% + 10px)
        transform: translate(-50%, -50%)
        border: 2px solid $color-6
        background: $color-1

      .status-scheme__item-inner
        width: 100%
        height: 100%
        border: 2px solid $color-6
        background: none

      &.active
        .status-scheme__item-inner
          background: $color-6

    &--legend
      width: 50px
      height: 50px

  &__item-inner
    position: absolute
    width: 0
    height: 0
    border-radius: 50%
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    background: $color-6
    z-index: 1
    transition: width .2s ease, height .2s ease


  &__divider
    position: absolute
    width: 100%
    height: 1px
    background: $color-6
    z-index: 0

  &__status
    margin-bottom: 15px
    display: flex
    //justify-content: space-between
    align-items: flex-end
    margin-left: -0.5em
    margin-right: -0.5em

  &__status-item
    position: relative
    padding-left: 0.5em
    padding-right: 0.5em

    &:nth-child(1)
      width: 21%

    &:nth-child(2)
      width: 21%

    &:nth-child(3)
      width: 8.5%

    &:nth-child(4)
      width: 35%

    &:nth-child(5)
      width: 14.5%

  &__status-item-name
    color: $color-3
    text-align: center
    font-size: 13px
    line-height: 18px
    position: absolute
    left: 50%
    transform: translateX(-50%)
    bottom: 15px

  &__status-item-line
    position: relative
    display: flex
    align-items: center
    margin-top: 10px
    &:before, &:after
      content: ''
      display: inline-block
      vertical-align: middle
      height: 5px
      width: 1px
      background: $color-3
    span
      display: inline-block
      //width: 100%
      height: 1px
      vertical-align: middle
      background: $color-3
      flex: 1

  &__tooltip
    position: absolute
    bottom: calc(100% + 50px)
    left: 0
    z-index: 10
    visibility: hidden
    opacity: 0
    transition: opacity .2s ease-in-out

  &__tooltip-legend
    display: flex
    flex-flow: row nowrap
    justify-content: space-between

  &__tooltip-legend-item
    display: flex
    flex-flow: row
    align-items: center
    margin-left: 25px
    &:first-child
      margin-left: 0
    & > .name-item
      display: inline-block
      margin-left: 20px

.status-legend-item
  display: block
  position: relative
  width: 44px
  height: 44px
  border: 2px dashed $color-6
  border-radius: 50%
  text-align: center
  line-height: 43px
  background: $color-1
  &:before, &:after
    content: ''
    display: block
    position: absolute
    height: 5px
    width: 10px
    background: $color-6
    z-index: 0
    top: 50%
    transform: translateY(-50%)
  &:before
    right: 100%
  &:after
    left: 100%

  &--completed
    background: $color-6
    border-style: solid
    span
      position: absolute
      left: 50%
      top: 50%
      transform: translate(-50%, -50%)
      &:before
        content: '\2713'
        font-family: FontAwesome
        color: $color-1
        text-align: center
        font-size: 20px
        font-weight: 300
        +media-1366
          font-size: 20px

  &--current
    border-style: solid
    span
      display: inline-block
      border: 2px solid $color-6
      width: 34px
      height: 34px
      border-radius: 50%
      position: absolute
      left: 50%
      top: 50%
      transform: translate(-50%, -50%)
      background: $color-1

.status-scheme-dropdown
  opacity: 0
  visibility: hidden
  position: absolute
  left: -999999px

  &.show
    position: relative
    left: auto
    opacity: 1
    visibility: visible
    animation-name: fadeInOpacity
    animation-iteration-count: 1
    animation-timing-function: ease-in
    animation-duration: .3s
