@import "wrapper/index"
@import "header/index"
@import "footer/index"
@import "team-item/index"
@import "main-menu/index"
@import "time-line/index"
@import "block-card/index"
@import "social-list/index"
@import "lang-switcher/index"
@import "head-banner/index"
@import "content-block/index"
@import "doc-item/index"
@import "gallery-item/index"
@import "logo-gallery-item/index"
@import "teaser-block/index"
@import "char-table/index"
@import "plane-scheme/index"
@import "view-360-block/index"
@import "status-scheme/index"
@import "target-list/index"
@import "dot-list/index"
@import "advantages-carousel/index"
@import "hover-bullet/index"
@import "contact-block/index"
@import "contact-block/index"
@import "tile-main/index"


//UI-components
@import "ui-components/button"
@import "ui-components/switcher"
@import "ui-components/popup-base"

//некоторые классы, которые было впадлу разбивать на компоненты
.image-rounded
  border-radius: 6px

.gallery-legend
  position: absolute
  top: calc(100% + 35px)
  right: 0
  width: 105px
  font-size: 13px
  +media-1366
    display: none

.gallery-wrapper
  position: relative

  &__loader
    display: none
    height: 100px
    text-align: center

    img
      max-height: 100%

.js-switch-container
  &__content
    opacity: 0
    visibility: hidden
    position: absolute
    left: -999999px

    &.show
      position: relative
      left: auto
      opacity: 1
      visibility: visible
      animation-name: fadeInOpacity
      animation-iteration-count: 1
      animation-timing-function: ease-in
      animation-duration: .3s

.tech-description
  color: $color-4
  line-height: 18px

//parallax scene on main page
.parallax-scene
  position: relative
  height: 100%
  background:
    size: cover
    position: center top

  &__inner
    height: 100%

  .tail //parallax tail
    position: absolute !important
    top: auto !important
    bottom: 0 !important
    left: 10% !important
    width: 40%
    min-width: 500px
    max-width: 800px
    img
      width: 100%
      animation-name: fadeInLeftBottom
      animation-duration: 5s

.clouds //parallax clouds
  bottom: -50px !important
  top: auto !important
  width: 110% !important
  min-width: 1500px
  +media-992
    right: -50px
    left: auto !important

//start screen block on main page
.main-page-block
  position: relative
  top: 30%
  text-align: center
  text-transform: uppercase
  animation-name: fadeInTop
  animation-duration: 8s
  +media-992
    padding: 50px 30px
    top: 20%
  &:before
    content: ''
    display: block
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
    background: $base-color
    opacity: 0
    z-index: 0
    +media-992
      opacity: .5

  &__title
    position: relative
    z-index: 1
    font-size: 60px
    line-height: 70px
    color: $color-1
    font-family: 'ProximaNovaT', sans-serif
    +media-575
      font-size: 50px
      line-height: 60px
    +media-480
      font-size: 40px
  &__button-more
    position: relative
    z-index: 1

//wrapper of content on main page
.main-page-content
  position: absolute
  top: 0
  right: 0
  bottom: 0
  left: 0

  &__inner
    position: relative
    height: 100%

  &__second
    position: absolute
    width: 100%
    top: 50%
    transform: translateY(-50%)
    //left: -9999px
    display: none
    flex-flow: row
    align-items: stretch
    &.show
      display: flex
      //left: auto
    +media-992
      flex-flow: column

  &__second-column
    flex: 1

    &--left
      animation-name: fadeInLeftBottom
      animation-duration: 5s
      display: flex
      flex-flow: column

    &--right
      animation-name: fadeInRightBottom
      animation-duration: 5s
      display: flex
      flex-flow: row wrap

//v-center images in lightbox
#lightboxOverlay
  position: fixed !important
  top: 0
  left: 0
  height: 100% !important
  width: 100% !important

#lightbox
  position: fixed !important
  top: 50% !important
  transform: translateY(-50%)
