.footer
  padding-top: 25px
  padding-bottom: 25px
  background: $color-1
  box-shadow: 0px -3px 10px 0px rgba(0, 0, 0, 0.08)
  display: flex
  flex-direction: row

  &__column
    width: (100%/3)
    +media-992
      width: auto

    &:nth-child(2)
      align-self: center
      flex: 1

    &:last-child
      display: flex
      flex-direction: column
      align-items: flex-end

  &__copyright
    color: $color-4
    font-size: 14px
    &--desktop
      +media-992
        display: none

    &--mobile
      display: none
      text-align: center
      +media-992
        display: block

  &__slogan
    text-align: center
    text-transform: uppercase
    color: $base-color
    font-size: 14px
    font-weight: $font-weight-normal

  &__developer
    font-size: 14px
    color: $color-4
    margin-top: 10px
    &--desktop
      +media-992
        display: none

    &--mobile
      display: none
      text-align: center
      +media-992
        display: block

    a
      color: $color-4
      position: relative
      display: inline-block
      line-height: 18px
      text-decoration: none
      &:after
        content: ''
        display: block
        position: absolute
        left: 0
        bottom: 0
        width: 100%
        height: 1px
        background: $color-4
        transition: width .2s cubic-bezier(.17,.67,.83,.67)

      &:hover
        text-decoration: none
        &:after
          width: 0