.header
  position: relative
  padding: 15px 0
  z-index: 99
  
  &.menu-opened
    position: fixed
    width: 100%
    +media-575
      background: $color-1

  &.menu-opened &__search
    &:after
      color: $color-1
      +media-575
        color: $base-color

  &.menu-opened &__search
    &:hover
      &:after
        color: $color-5

  &__logo
    text-align: center
    img
      max-width: 95px
      +media-480
        max-width: 90px

  &__logo-link
    color: $color-5
    transition: all .3s ease
    text-decoration: none
    &:hover
      color: $color-4
      text-decoration: none

  &__logo-company-name
    font-size: 14px
    font-weight: $font-weight-light
    +media-480
      font-size: 12px

  &__burger
    position: relative
    width: 30px
    height: 16px
    cursor: pointer
    span
      position: absolute
      height: 2px
      width: 100%
      left: 0
      background: $color-5
      transition: all .2s ease

      &:nth-child(1)
        top: 0

      &:nth-child(2)
        top: 7px

      &:nth-child(3)
        bottom: 0

    &.opened
      span
        background: $base-color
        &:nth-child(1)
          top: 7px
          transform: rotate(45deg)

        &:nth-child(2)
          top: 7px
          width: 0

        &:nth-child(3)
          bottom: 7px
          transform: rotate(-45deg)

  &__section-name
    text-transform: uppercase
    line-height: 18px
    color: $color-3
    margin-left: 20px
    +media-640
      display: none

  &__search
    cursor: pointer
    &:after
      content: '\f002'
      font-family: FontAwesome, sans-serif
      transition: color .2s ease-in-out
    &:hover
      &:after
        color: $base-color

  &--main-page &__burger
    span
      background: $color-1
    &.opened
      span
        background: $base-color

  &--main-page
    position: fixed
    width: 100%
    animation-name: fadeInTop
    animation-duration: 8s

  &--main-page &__search
    color: $color-1

  &--main-page &__logo
    img
      filter: brightness(0) invert(1)

  &--main-page &__logo-company-name
    color: $color-1

  &--main-page
    &.menu-opened .header__logo
      img
        filter: none

  &--main-page
    &.menu-opened .header__logo-company-name
      color: $color-5