<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Project</title>

    <meta name="keywords" content="">
    <meta name="description" content="">

    <link rel="shortcut icon" href="${require('assets/images/favicon/favicon.ico')}" type="image/x-icon">
    <link rel="apple-touch-icon" href="${require('assets/images/favicon/apple-touch-icon.png')}" type="image/png">

    <link rel="stylesheet" href="css/app.css?{{ hash }}">
</head>
<body>
{% include "shared/_header-main.njk" %}
<main class="main-page">
    <div class="wrapper--main-page">
        {% block content %}{% endblock %}
    </div>
</main>

{% include "shared/_main-menu.njk" %}
<script src="js/app.js?{{ hash }}"></script>
</body>
</html>
