{% extends "layouts/layout.njk" %}

{% block content %}
    <div class="container">
        <div class="row">
        {% for i in range(0, 9) -%}
            <div class="col-xl-4 col-md-6">
                <div data-id="team-modal-{{ i }}" class="team-item popup-team-modal-btn">
                    <div class="team-item__image" style="background-image: url(${require('assets/images/team-items/team-items-1.jpg')})"></div>
                    <div class="team-item__info">
                        <div class="team-item__info-name">
                            Василий Данилов
                        </div>
                        <div class="team-item__info-position">
                            Генеральный директор
                        </div>
                        <div class="team-item__info-contacts">
                            <div class="team-item__phone">
                                <i class="fa fa-phone" aria-hidden="true"></i> <a href="tel:+74992388444">+7 (499) 238-84-44</a>
                            </div>
                            <div class="team-item__email">
                                <i class="fa fa-envelope-o" aria-hidden="true"></i> <a href="mailto:travnikov@rosavia.ru">travnikov@rosavia.ru</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {%- endfor %}
        </div>

        <!-- start modals -->
        {% for i in range(0, 9) -%}
            <div class="popup-base content-block mfp-hide zoom-anim-dialog" id="team-modal-{{ i }}">
                <div class="popup-base__content">
                    <div class="row align-items-center time-line-tabs">
                        <div class="col-md-4">
                            <div class="time-line-menu time-line-menu--like-tabs">
                                <div class="time-line-menu__inner">
                                    {%  set items = [
                                        { 'itemName': 'Визитка', 'dataId': 'card', 'itemClass': 'active', 'link': '#' },
                                        { 'itemName': 'Образование', 'dataId': 'education', 'itemClass': '', 'link': '#' },
                                        { 'itemName': 'Карьера', 'dataId': 'career', 'itemClass': '', 'link': '#' },
                                        { 'itemName': 'Достижения', 'dataId': 'achievements', 'itemClass': 'last', 'link': '#' }
                                    ] %}

                                    {% for item in items %}
                                        <a href="{{ item.link }}" class="time-line-menu__item js-timeline-item {{ item.itemClass }}" data-id="tab-{{ item.dataId }}">
                                            <div class="time-line-menu__item-circle"></div>
                                            <div class="time-line-menu__item-name">{{ item.itemName }}</div>
                                        </a>

                                        <div class="time-line-menu__line"></div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="time-line-tabs__content active" data-tab="tab-card">
                                <div class="business-card">
                                    <div class="business-card__image" style="background-image: url(${require('assets/images/team-items/team-items-1.jpg')})"></div>
                                    <div class="business-card__info ml-4">
                                        <div class="business-card__name">
                                            Данилов Василий Юрьевич
                                        </div>
                                        <div class="business-card__position">
                                            Генеральный директор ООО «Фрегат Экоджет»
                                        </div>
                                        <div class="business-card__contacts">
                                            <span><a href="tel:+74992388444"><i class="fa fa-phone" aria-hidden="true"></i> +7 (499) 238-84-44</a></span>
                                            <span class="mail"><a href="mailto:danilov@rosavia.ru"><i class="fa fa-envelope-o" aria-hidden="true"></i> danilov@rosavia.ru</a></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="time-line-tabs__content" data-tab="tab-education">
                                <ul class="dot-list">
                                    <li><span class="tech-caption">Окончил инженерно-механический факультет Московского Авиационного института (МАИ) (1990)</span></li>
                                </ul>
                            </div>
                            <div class="time-line-tabs__content" data-tab="tab-career">
                                <ul class="dot-list">
                                    <li><span class="tech-caption">1990 - 1992 годах - инженер в Отдел 115 в Головное конструкторское бюро НПО «ЭНЕРГИЯ»</span></li>
                                    <li><span class="tech-caption">1992 - 1995 годах - исполнительный директор МПГ "ЮНИВЕРСЕРВИС"</span></li>
                                    <li><span class="tech-caption">1995 - 1998 годах – старший консультант департамента финансового и управленческого консультирования в ТОО Аудиторская фирма «Контакт» (ООО «ФБК»)</span></li>
                                    <li><span class="tech-caption">1998 - 2007 годах - коммерческий директор в ОАО «РЫБИНСКИЕ МОТОРЫ» (ОАО НПО «САТУРН»)</span></li>
                                    <li><span class="tech-caption">2007 - 2010 годах - назначен на должность заместителя Губернатора Ярославской области</span></li>
                                    <li><span class="tech-caption">2012 - 2014 годах – Советник президента по вопросам маркетинга, продаж и ППО ГА</span></li>
                                    <li><span class="tech-caption">2014 - избран генеральным директором ООО «Фрегат Экоджет»</span></li>
                                </ul>
                            </div>
                            <div class="time-line-tabs__content" data-tab="tab-achievements">
                                <ul class="dot-list">
                                    <li><span class="tech-caption">ОАО «РЫБИНСКИЕ МОТОРЫ»
                                            <ul class="dot-list__sub-list">
                                                <li>объявлена благодарность за проведенную качественную организационно-техническую работу и активное участие в подготовке материалов и мероприятий к визиту Президента РФ</li>
                                                <li>за достигнутые успехи в области качества признан победителем конкурса с присвоением звания «Лидер качества 2000 года»</li>
                                                <li>объявлена благодарность в связи с присвоением коллективу звания «лучшее подразделение предприятия»</li>
                                            </ul>
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {%- endfor %}
        <!-- end modals -->
    </div>
{% endblock %}