<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Page not found</title>

    <link rel="shortcut icon" href="./images/favicon/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="./images/favicon/apple-touch-icon.png" type="image/png">

    <link rel="stylesheet" href="css/app.css?{{ hash }}">
</head>

<style>
    .page-not-found{

    }

    .page-not-found__circe{
        position: relative;
        border: 60px solid #ffffff;
        border-radius: 50%;
        line-height: 0;
        background: transparent;
        box-shadow: 19px 29px 20px 0px rgba(0, 0, 0, 0.08) inset, 19px 29px 20px 0px rgba(0, 0, 0, 0.08);
    }

    .page-not-found__circe:after{
        content: '';
        display: block;
        padding-top: 100%;
    }

    .page-not-found__circe-label{
        font-size: 10rem;
        font-weight: 800;
        color: #eeeeee;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    @media only screen and (max-width: 575px){
        .page-not-found__circe-label{
            font-size: 100px;
        }
    }
    @media only screen and (max-width: 480px){
        .page-not-found__circe{
            border-width: 40px;
        }
        .page-not-found__circe-label{
            font-size: 80px;
        }
    }
</style>

<body>
{% include "shared/_header.njk" %}
<main class="d-flex flex-column justify-content-center">
    <div class="wrapper page-not-found m-0 d-flex">
        <div class="container d-flex flex-column">
            <div class="row align-items-center flex-column-reverse flex-lg-row">
                <div class="col-xl-6 mt-5 mt-lg-0 text-center text-lg-left">
                    <h1>Кажется, что-то пошло не так</h1>
                    <span class="tech-caption">
                        Страницу, которую Вы запрашиваете, не существует. Возможно она устарела, была удалена, или был введен не верный адрес в адресной строке
                    </span><br/>
                    <a href="index.html" class="button-base button-base--filled mt-4">На Главную</a>
                </div>
                <div class="col-xl-6">
                    <div class="page-not-found__circe">
                        <div class="page-not-found__circe-label">
                            404
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% include "shared/_main-menu.njk" %}
<script src="js/app.js?{{ hash }}"></script>
</body>
</html>
