<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Something went wrong</title>

    <link rel="shortcut icon" href="./images/favicon/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="./images/favicon/apple-touch-icon.png" type="image/png">

    <link rel="stylesheet" href="css/app.css?{{ hash }}">
</head>

<style>
    .error-laber{
        color: #eeeeee;
        font-size: 150px;
        font-weight: 700;
        line-height: 90%;
    }
</style>

<body>
{% include "shared/_header.njk" %}
<main class="d-flex flex-column justify-content-center">
    <div class="wrapper page-not-found m-0 d-flex">
        <div class="container d-flex flex-column">
            <div class="row align-items-center flex-column-reverse flex-lg-row">
                <div class="col-lg-6 mt-5 mt-lg-0 text-center text-lg-left">
                    <div class="error-laber">
                        505
                    </div>
                    <h1>Внутренняя ошибка сервера</h1>
                    <span class="tech-caption">
                            Страницу, которую Вы запрашиваете, не существует. Возможно она устарела, была удалена, или был введен не верный адрес в адресной строке
                        </span><br/>
                    <a href="index.html" class="button-base button-base--filled mt-4">На Главную</a>
                </div>
                <div class="col-lg-6">
                    <img src="assets/images/error.png" class="img-fluid" alt="">
                </div>
            </div>
        </div>
    </div>
</main>
{% include "shared/_main-menu.njk" %}
<script src="js/app.js?{{ hash }}"></script>
</body>
</html>
