{% extends "layouts/layout-main.njk" %}

{% block content %}
    <div class="parallax-scene" style="background-image: url(${require('assets/images/background-clouds.jpg')})">
        <div class="parallax-scene__inner" id="parallax-scene">
            <div class="tail" data-depth="0.2">
                <img src="assets/images/tail.png" alt="">
            </div>
            <img src="assets/images/clouds.png" alt="" class="clouds" id="parallax-clouds" data-depth="0.1">
        </div>

        <div class="main-page-content">
            <div class="container h-100">
                <div class="main-page-content__inner">
                    <div class="main-page-block" id="main-block-1">
                        <div class="main-page-block__title">
                            Нечто большее,<br/>чем новый самолет
                        </div>
                        <div class="main-page-block__button-more mt-3">
                            <button type="button" class="button-base button-base--bordered button-base--main-page-button" id="main-page-more">Узнать больше</button>
                        </div>
                    </div>

                    <div class="main-page-content__second" id="main-block-2">
                        <div class="main-page-content__second-column main-page-content__second-column--left d-none d-md-flex">
                            <a href="frigate-ecojet.html" class="tile-main">
                                <div class="tile-main__background" style="background-image: url(${require('assets/images/fregat-ecojet.jpg')})"></div>
                                <div class="tile-main__inner">
                                    <div class="tile-main__title">
                                        Фрегат Экоджет
                                    </div>
                                </div>
                            </a>
                            <a href="freejet.html" class="tile-main">
                                <div class="tile-main__background" style="background-image: url(${require('assets/images/news/news-1.jpg')})"></div>
                                <div class="tile-main__inner">
                                    <div class="tile-main__title">
                                        Фриджет
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="main-page-content__second-column main-page-content__second-column--right">
                            <a href="advantages.html" class="tile-main tile-main--small">
                                <div class="tile-main__background" style="background-image: url(${require('assets/images/advantages-tile.jpg')})"></div>
                                <div class="tile-main__inner">
                                    <div class="tile-main__title">
                                        Преимущества самолётов
                                    </div>
                                </div>
                            </a>
                            <a href="photo-gallery.html" class="tile-main tile-main--small">
                                <div class="tile-main__background" style="background-image: url(${require('assets/images/gallery-tile.jpg')})"></div>
                                <div class="tile-main__inner">
                                    <div class="tile-main__title">
                                        Галерея
                                    </div>
                                </div>
                            </a>
                            <a href="status.html" class="tile-main tile-main--small">
                                <div class="tile-main__background" style="background-image: url(${require('assets/images/status-tile.jpg')})"></div>
                                <div class="tile-main__inner">
                                    <div class="tile-main__title">
                                        Статус программы
                                    </div>
                                </div>
                            </a>
                            <a href="news.html" class="tile-main tile-main--small">
                                <div class="tile-main__background" style="background-image: url(${require('assets/images/news-tile.jpg')})"></div>
                                <div class="tile-main__inner">
                                    <div class="tile-main__title">
                                        Новости
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}