.teaser-block
  border-radius: 6px
  border: 1px solid $color-3
  padding: 30px
  position: relative

  &:before
    content: '\f10e'
    font-family: 'FontAwesome'
    display: block
    position: absolute
    top: -25px
    left: 50%
    transform: translateX(-50%)
    color: $base-color
    font-size: 22px
    border-radius: 50%
    background: $color-1
    border: 1px solid $color-3
    width: 50px
    height: 50px
    text-align: center
    line-height: 50px

  &__text
    text-align: center
    margin-top: 15px
    font-size: 20px
    line-height: 18px
    font-weight: $font-weight-light

  &__author
    display: flex
    flex-flow: column
    align-items: center
    margin-top: 15px

  &__author-image
    border-radius: 50%
    width: 50px
    height: 50px
    overflow: hidden
    img
      object-fit: cover
      object-position: center

  &__author-name
    font-size: 16px
    line-height: 18px
    color: $color-4
    margin-top: 5px